{% extends 'base.html' %}

{% block content %}   
<div class="profit-container">
    <h2 class="page-title">
        转运订单利润统计
    </h2>

    <div style="display: flex;">
        <form method="post" action="" onsubmit="showLoadingBar()">
            {% csrf_token %}
            <div style="display: flex; align-items: center; gap: 10px; flex-wrap: wrap;">
                <div>
                    <b style="margin-right: 5px;">时间类型:</b>
                    <select name="date_type" style="margin-right: 10px;">
                        <option value="eta" {% if date_type == "eta" or not date_type %}selected{% endif %}>ETA</option>
                        <option value="etd" {% if date_type == "etd" %}selected{% endif %}>ETD</option>
                    </select>
                </div>
                <div>
                    <b style="margin-right: 5px;">开始年月:</b>
                    <input type="date" name="start_date" value="{{ start_date }}">
                </div>
                <div>
                    <b style="margin-right: 5px;">结束年月:</b>
                    <input type="date" name="end_date" value="{{ end_date }}" style="margin-right: 5px;">
                </div>
                <b style="margin-right: 5px;">仓库:</b>
                <div>
                    <div id="warehouseList" style="display: inline-block; border: 1px solid #ccc; padding: 5px; max-height: 150px; overflow-y: auto; width: 200px;">
                        {% for k, v in area_options.items %}
                        <label style="display: block; margin: 3px 0;">
                            <input type="checkbox" name="warehouse" value="{{ v }}"
                            {% if v in warehouse_list %}checked{% endif %} style="margin-right: 5px;">
                            {{ k }}
                        </label>
                        {% endfor %}
                    </div>
                </div>
                
                <b style="font-size: 13px;">客户</b>
                <div>              
                    <div id="customerList" style="display: inline-block; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; padding: 5px; max-height: 150px; overflow-y: auto; width: 200px;">
                        {% for k, v in customers.items %}
                            {% if not forloop.first %} 
                                <label style="display: block; margin: 3px 0;">
                                    <input type="checkbox" name="customer" value="{{ v }}" 
                                    {% if k in customer_list %}checked{% endif %} style="margin-right: 5px;">
                                    {{ k }}
                                </label>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div>
                    <input type="hidden" name="step" value="cbm_analysis_selection">
                    <button type="submit">确认</button>
                </div>
                <small style="color: #666; margin-left: 0px;">（仓库和客户不选择即为全选，时间默认过去3个月）</small>
            </div>
        </form>
    </div>

</div>
{% endblock %}