{% extends 'base.html' %}
{% block content %}
<div style="max-height: 100%; max-width: 100%;">
    <div><b>{{ warehouse }}异常拆柜</b></div>
    {{ current_date }}
</div>
<form method="post" action="" onsubmit="showLoadingBar()">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">选择仓点区域:</b>
        <input type="hidden" name="step" value="warehouse_abnormal">
        <select name="warehouse">
            <option value="" {% if not warehouse %}selected{% endif %}></option>
            <option value="NJ" {% if warehouse == "NJ" %}selected{% endif %}>NJ</option>
            <option value="SAV" {% if warehouse == "SAV" %}selected{% endif %}>SAV</option>
        </select>
        <button type="submit">确认</button>
    </div>
</form>
{% load static custom_filters %}
    <form method="post" style="width: 100%;">
        {% csrf_token %}
        <div class="container mt-3" style="max-width: 100%;">
            <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 800px;">
                <table class="table" style="font-size: 11px">
                    <thead>
                        <tr>
                            <th>仓库</th>
                            <th>柜号</th>
                            <th>目的地</th>
                            <th>派送方式</th>
                            <th>异常记录时间</th>
                            <th>预报箱数</th>
                            <th>实际箱数</th>
                            <th>是否解决</th>
                            <th>异常原因</th>
                            <th>处理操作</th>
                        </tr>
                    </thead>
                    <tbody id="palletization-container">                       
                        {% for pl in abnormal %}
                        <tr id="palletization-row">
                            <td class="td">{{ pl.retrieval_destination_precise }}</td>
                            <td class="td">{{ pl.container_number }}</td>
                            <td class="td">{{ pl.destination }}</td>
                            <td class="td">{{ pl.deivery_method }}</td>
                            <td class="td">
                                {% if pl.ddl_status == "past_due" %}
                                <span class="status-span-red">{{ pl.created_at }}</span>
                                {% else %}
                                {{ pl.created_at }}
                                {% endif %}
                            </td>                                                
                            <td class="td">{{ pl.pcs_reported }}</td>
                            <td class="td">{{ pl.pcs_actual }}</td>
                            <td class="status-cell" style="text-align: left; cursor: pointer; display: flex; align-items: center;">
                                <input type="checkbox" id="status-{{pl.id}}" style="display: none;" {% if pl.is_resolved %}checked{% endif %}>
                                <label 
                                    for="status-{{pl.id}}" class="status-label" onclick="toggleStatus(event)"
                                    style="display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 50%; 
                                    color: white; font-weight: bold; transition: background-color 0.3s ease; 
                                    background-color: {% if pl.is_resolved %} #4CAF50 {% else %} #f44336 {% endif %}; font-size: 20px; margin-right: 10px;"
                                >
                                    {% if pl.is_resolved %} &#10003; {% else %} &times; {% endif %}
                                </label>
                            </td>  
                            <td class="td">
                                <select name="abnormal_reason" class="abnormal-reason">
                                    <option value="" {% if pl.abnormal_reason and pl.abnormal_reason == "" %}selected{% endif %}></option>
                                    <option value="原始预报文件出错" {% if pl.abnormal_reason and pl.abnormal_reason == "原始预报文件出错" %}selected{% endif %}>原始预报文件出错</option>
                                    <option value="预报文件录入出错" {% if pl.abnormal_reason and pl.abnormal_reason == "预报文件录入出错" %}selected{% endif %}>预报文件录入出错</option>
                                    <option value="客户装柜出错" {% if pl.abnormal_reason and pl.abnormal_reason == "客户装柜出错" %}selected{% endif %}>客户装柜出错</option>
                                    <option value="拆柜出错" {% if pl.abnormal_reason and pl.abnormal_reason == "拆柜出错" %}selected{% endif %}>拆柜出错</option>
                                </select>
                            </td>
                            <td class="td">
                                <textarea name="note" placeholder="请输入..."></textarea>
                            </td>                            
                            <input type="hidden" name="ids" value="{{pl.ids}}">
                            <input type="hidden" name="note" value="{{pl.note}}">
                            <input type="hidden" name="pcs_reported" value="{{pl.pcs}}">
                            <input type="hidden" name="cbms" value="{{pl.cbm}}">
                            <input type="hidden" name="notes" value="{{pl.note}}">
                            <input type="hidden" name="weights" value="{{pl.weight_lbs}}">
                            <input type="hidden" name="destinations" value="{{pl.destination}}">
                            <input type="hidden" name="container_number" value="{{pl.container_number__container_number}}">
                            <input type="hidden" name="shipment_batch_number" value="{{pl.shipment_batch_number__shipment_batch_number}}">
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-left">
                <input type="hidden" name="step" value="amend_abnormal">
                <input type="hidden" name="warehosue" value="{{ warehosue }}">
                <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;" onclick="processForm()">确认</button>
            </div>
        </div>
    </form>

<script>
    function toggleStatus(event) {
        const checkbox = event.target.previousElementSibling; // Get the checkbox linked to the label
        if (!checkbox.checked) {
            event.target.innerHTML = '&#10003;'; // Check mark
            event.target.style.backgroundColor = '#4CAF50'; // Green
        } else {
            event.target.innerHTML = '&times;'; // Cross mark
            event.target.style.backgroundColor = '#f44336'; // Red
        }
    }

    function processForm() {
        var rows = document.querySelectorAll('tr#palletization-row');
        var abnormalReasonSelect = document.querySelectorAll('select.abnormal-reason');
        var isValid = true;
        var isReasonEmpty = false;
        var isNoteEmpty = false;
        rows.forEach(row => {
            const checkbox = row.querySelector('input[type="checkbox"]');
            if (checkbox && checkbox.checked) {
                const abnormalReasonSelect = row.querySelector('select[name="abnormal_reason"]');
                const abnormalNote = row.querySelector('textarea[name="note"]');
                if (abnormalReasonSelect && abnormalReasonSelect.value.trim() === '') {
                    isValid = false;
                    isReasonEmpty = true;
                    abnormalReasonSelect.style.border = '2px solid red';
                } else {
                    abnormalReasonSelect.style.border = '';
                };
                if (abnormalNote && abnormalNote.value.trim() === '') {
                    isValid = false;
                    isNoteEmpty = true;
                    abnormalNote.style.border = '2px solid red';
                } else {
                    abnormalNote.style.border = '';
                };
            };
        });
        if (!isValid) {
            event.preventDefault();
            if (isReasonEmpty && isNoteEmpty) {
                alert("请选择'异常原因'并填写'处理操作'!");
            } else if (isReasonEmpty) {
                alert("请选择'异常原因'!");
            } else {
                alert("请填写'处理操作'!");
            }
        };
    };
</script>
{% endblock %}