{% extends 'base.html' %}
{% block content %}
<h4 class="mb-4">港前订单追踪测试</h4>
<table class="table">
    <thead>
        <tr>
            <th>Container ID</th>
            <th>Container Number</th>
            <th>Shipment ID</th>
            <th>Shipment Bill of Lading Number</th>
            <th>Shipment Normalized Number</th>
        </tr>
    </thead>
    <tbody>
        {% for c in containers %}
        <tr>
            <td>{{ c.container_id }}</td>
            <td>{{ c.container_number }}</td>
            <td>{{ c.shipment_id }}</td>
            <td>{{ c.shipment_bill_of_lading_number }}</td>
            <td>{{ c.shipment_normalized_number }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}