{% extends 'base.html' %}

{% block content %}
<div><b>订单查询</b></div>
<form method="post" action="" style="width: 80%;">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">客户:</b>
        {{ order_form.customer_name }}
        <b style="margin-right: 5px; margin-left: 10px;">建单时间:</b>
        <input type="date" name="start_date" value="{{ start_date }}">
        <input type="date" name="end_date" value="{{ end_date }}" style="margin-right: 5px;">
        <input type="hidden" name="step" value="invoice_order_search">
        <button id="submit-btn" type="submit" class="btn btn-primary" style="width: 100px; height: 35px; margin-left: 20px;">查询</button>
    </div>
</form>
{% endblock %}