body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
    margin: 0;
    padding: 0;
    width: 100%;
}

.card {
    border: 0;
}

.jumbotron {
    background-color: #343a40;
    color: #ffffff;
}

.navbar-brand {
    font-size: 1.8rem; /* Adjust the font size for "ZEM LOGISTICS INC" */
}

.navbar-nav .nav-link {
    font-size: 1.0rem; /* Adjust the font size for the tabs */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1.0rem;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.0rem;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nested-dropdown {
    position: relative;
    display: inline-block;
}

.nested-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: 1.0rem;
}

.nested-dropdown:hover .nested-dropdown-content {
    display: block;
}

.scrollable-table {
    max-height: 400px; /* Set the maximum height of the table */
    max-width: 800px;
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    display: block; /* Ensure block-level display to handle overflow */
}

.search-filters {
    margin-bottom: 12px; /* Add some space below the input */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px;
}

.th, td {
    border: 1px solid #dddddd;
    text-align: left;
    min-width: 80px;
    padding: 1px;
}

.th {
    background-color: #f2f2f2;
    min-width: 80px;
    position: sticky;
    top: 0;
}

.table th {
    border: 1px solid #dddddd;
    background-color: #f2f2f2;
    text-align: left;
    min-width: 80px;
    padding: 5px;
    position: sticky;
    top: 0;
}

.table td {
    border: 1px solid #dddddd;
    padding: 5px;
    min-width: 80px;
}

.quote-form-row {
    padding: 5px;
}

.quote-form-row.flex-6 {
    flex: 0 0 16%;
    max-width: 16%;
}

.quote-form-row.flex-7 {
    flex: 0 0 14%;
    max-width: 14%;
}

.form-row {
    padding: 5px;
}

.form-row.flex-3 {
    flex: 0 0 33%;
    max-width: 33%;
}

.form-row.flex-4 {
    flex: 0 0 25%;
    max-width: 25%;
}

.order-form-1-row {
    padding: 5px;
}

.order-form-1-row.flex-8 {
    flex: 0 0 12%;
    max-width: 12%;
}

.status-span-red {
    border-radius: .25rem;
    background-color: #de3442;
    color: white;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.status-span-yellow {
    border-radius: .25rem;
    background-color: #fcc405;
    color: white;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.status-span-green-100 {
    border-radius: .25rem;
    background-color: #d5f6e8;
    color: #115035;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.status-span-red-100 {
    border-radius: .25rem;
    background-color: #f9d8da;
    color: #5c0f15;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.status-span-yellow-100 {
    border-radius: .25rem;
    background-color: #f8df99f8;
    color: #5c0f15;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.status-span-blue-100 {
    border-radius: .25rem;
    background-color: #cce5ff;
    color: #003166;
    padding-bottom: .125rem;
    padding-top: .125rem;
    padding-left: .225rem;
    padding-right: .225rem;
}

.tr-status-red {
    background-color: #de3442;
    color: white;
}

.tr-status-yellow {
    background-color: #fcc405;
    color: white;
}

#loading-bar {
    display: none; /* Initially hidden */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
    color: white;
    font-size: 20px;
}

.spinner {
    border: 5px solid rgba(255, 255, 255, 0.3);
    border-top: 5px solid white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
    margin: auto;
    position: relative;
    top: 50%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}