body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 20px;
}

.card {
    border: 0;
}

.jumbotron {
    background-color: #343a40;
    color: #ffffff;
}

.navbar-brand {
    font-size: 1.8rem; /* Adjust the font size for "ZEM LOGISTICS INC" */
}

.navbar-nav .nav-link {
    font-size: .8rem; /* Adjust the font size for the tabs */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: small;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.nested-dropdown {
    position: relative;
    display: inline-block;
}

.nested-dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    font-size: small;
}

.nested-dropdown:hover .nested-dropdown-content {
    display: block;
}

.scrollable-table {
    max-height: 400px; /* Set the maximum height of the table */
    max-width: 1000px;
    overflow-x: auto;
    overflow-y: auto; /* Enable vertical scrolling */
    display: block; /* Ensure block-level display to handle overflow */
}