{% extends 'export_file/bol_base_template.html' %}

{% block packing_list_section %}

<div class="page-break" style="position: relative; min-height: 100%;">
    <div style="text-align: center; padding-top: 60px; margin-bottom: 15px;">
        <h2 style="font-size: 18pt; margin: 0;">
            <b>Packing List</b>
        </h2>
    </div>
    <div>
        <table style="width: 100%; border-collapse: collapse; font-size: 10pt;">
            <colgroup>
                <col style="width: 20%"> 
                <col style="width: 15%">
                <col style="width: 10%"> 
                <col style="width: 10%"> 
                <col style="width: 10%"> 
                {% if pallet.0.一提两卸 %}<col style="width: 15%">{% endif %}
                {% if pallet.0.shipment_batch_number__shipment_appointment %}<col style="width: 15%">{% endif %}
                <col style="width: 20%"> 
            </colgroup>
            <thead>
                <tr style="height: 80px;">
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">Container Number</th>
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">Destination</th>
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">weight</th>
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">CBM</th>
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">Pallet</th>
                    {% if pallet.0.一提两卸 %}
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">Multi-drop</th>
                    {% endif %}
                    {% if pallet.0.shipment_batch_number__shipment_appointment %}
                    <th style="border: 1px solid #000; padding: 8px 4px; text-align: center; background-color: #f2f2f2; font-weight: bold;">Appointment</th>
                    {% endif %}
                    <th colspan="1" style="border: 1px solid #000; padding: 8px 4px; border-top: none; border-right: none; border-bottom: none"></th>
                </tr>
            </thead>
            <tbody>
                {% for c in pallet %}

                {% if c.is_spacer %}  <!--空行作为分隔行-->
                <tr style="height: 25px;">
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center; white-space: nowrap;" 
                        {% if c.force_text %}data-type="text"{% endif %}> </td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;"> </td>             
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center; 
                        {% if c.force_text %}white-space: nowrap;{% endif %}"> </td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;"> </td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;"> </td>
                    {% if pallet.0.一提两卸 %}
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;"> </td>
                    {% endif %}
                    {% if pallet.0.shipment_batch_number__shipment_appointment %}
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;"> </td>
                    {% endif %}
                    <td colspan="2" style="border-left: 1px solid #000; border-top: none; border-right: none; border-bottom: none;"></td>
                </tr>
                {% else %}
                <tr style="height: 80px;">
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.container_number__container_number }}</td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.destination }}</td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.total_weight }}</td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.total_cbm|floatformat:2 }}</td>
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center; font-family: STSong-Light;">{{ c.total_n_pallet }}</td>
                    {% if c.一提两卸 %}
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.一提两卸 }}</td>
                    {% endif %}
                    {% if c.shipment_batch_number__shipment_appointment %}
                    <td style="border: 1px solid #000; padding: 8px 4px; text-align: center;">{{ c.shipment_batch_number__shipment_appointment }}</td>
                    <td colspan="1" style="border: 1px solid #000; padding: 8px 4px; border-top: none; border-right: none; border-bottom: none"></td>
                    {% endif %}
                </tr>
                {% endif %}
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}