{% extends 'export_file/bol_base_template.html' %}

{% block packing_list_section %}

<div class="page-break" style="position: relative; min-height: 100%;">
    <div style="text-align: center;">
        <h2><b>Packing List</b></h2>
    </div>
    <div>
        <table style="width: 100%; border: 1px solid #141414;">
            <thead>
                <tr>
                    <th style="text-align: center; border: 1px solid #141414;">Container Number</th>
                    <th style="text-align: center; border: 1px solid #141414;">Desination</th>
                    <th style="text-align: center; border: 1px solid #141414;">Pallet</th>
                    <th style="text-align: center; border: 1px solid #141414;">CBM</th>
                </tr>
            </thead>
                <tbody>
                    {% for c in pallet %}
                        <tr>
                            <td style="text-align: center; border: 1px solid #141414;">{{ c.container_number__container_number }}</td>
                            <td style="text-align: center; border: 1px solid #141414;">{{ c.destination }}</td>
                            <td style="text-align: center; border: 1px solid #141414;">{{ c.total_n_pallet }}</td>
                            <td style="text-align: center; border: 1px solid #141414;">{{ c.total_cbm|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
        </table>
    </div>
</div>
{% endblock %}