{% block content %}
<div style="text-align: center;">
    <p style="font-size: 25px; margin-bottom: -10px; color: rgb(121,137,161);"><b>INVOICE</b></p>
</div>
<div>
    <table style="width: 100%;">
        <tr>
            <td style="width: 40%;">
                <p style="padding-top: 10px; padding-left: 10px;">Zem Elitelink Logistics Inc</p>
                    <p style="padding-left: 10px;">27 Engelhard Ave. Avenel NJ 07001</p>
                    <p style="padding-left: 10px;">774 King George Blvd Savannah, GA 31419</p>
            </td>
            <td style="width: 30%;">
                <p style="padding-top: 10px; padding-left: 10px;">FINANCE@ZEMLOGISTICS.COM</p>
                <p style="padding-left: 10px;">+1 (929)810-9968</p>
            </td>
            <td style="width: 30%; text-align: center;">
                <img src="http://localhost:8000/static/img/zem_logo_small.jpg">
            </td>
        </tr>
    </table>
</div>

<div style="margin-top: 20px;">
    <table style="width: 100%; font-size: 12px;">
        <tr>
            <td>
                {% if chinese_char %}
                    <p style="padding-top: 10px; padding-left: 10px; font-family: STSong-Light; color: rgb(123,139,162); font-size: 15px;">
                        <b>{{ customer }}</b>
                    </p>
                {% else %}
                    <p style="padding-top: 10px; padding-left: 10px; color: rgb(123,139,162); font-size: 15px;">
                        <b>{{ customer }}</b>
                    </p>
                {% endif %}
            </td>
        </tr>
        <tr style="font-size: 10px;">
            <td style="width: 50%;">
                <p style="padding-top: 10px; padding-left: 10px;">Bill to</p>
            </td>
            <td style="width: 50%;">
                <p style="padding-top: 10px; padding-left: 10px;">Ship to</p>
            </td>
        </tr>
        <tr>
            <td style="width: 50%;">
                {% if chinese_char %}
                    <p style="padding-top: 10px; padding-left: 10px; font-family: STSong-Light;"><b>{{ customer }}</b></p>
                {% else %}
                    <p style="padding-top: 10px; padding-left: 10px;"><b>{{ customer }}</b></p>
                {% endif %}
            </td>
            <td style="width: 50%;">
                {% if chinese_char %}
                    <p style="padding-top: 10px; padding-left: 10px; font-family: STSong-Light;"><b>{{ customer }}</b></p>
                {% else %}
                    <p style="padding-top: 10px; padding-left: 10px;"><b>{{ customer }}</b></p>
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding-top: 10px; padding-left: 10px;"><b>Invoice details</b></p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 10px;">
                    Invoice no.: {{ invoice_statement_id }}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 10px;">
                    Terms: {{ invoice_terms }}
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="padding-left: 10px;">
                    Invoice date: {{ invoice_date }}
                </p>
            </td>
        </tr>

        <tr>
            <td>
                <p style="padding-left: 10px;">
                    Due date: {{ due_date }}
                </p>
            </td>
        </tr>
    </table>
</div>

<div style="margin-top: 20px; margin-bottom: 20px;">
    <table style="width: 100%; font-size: 12px;">
        <thead style="color: rgba(143,146,152);">
            <tr style="border-bottom: 1px solid rgb(226,229,232);">
                <th style="width: 50px;">#</th>
                <th style="width: 50px;">Date</th>
                <th style="width: 250px;">Product or service</th>
                <th>Description</th>
                <th style="width: 50px;">Qty</th>
                <th>Rate</th>
                <th>Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for i, o, inv_num, r, a in invoice_details %}
                <tr style="padding-top: 5px; border-bottom: 1px solid rgb(226,229,232);">
                    <td style="text-align: center;">{{ i }}</td>
                    <td colspan="4" style="text-align: center;">TRANSFER CONTAINER FEE {{ o }} INV# {{ inv_num }}</td>
                    <td style="text-align: center;">${{ r|floatformat:"2g" }}</td>
                    <td style="text-align: center;">${{ a|floatformat:"2g" }}</td>
                </tr>
            {% endfor %}
            <tr style="padding-top: 5px;">
                <td colspan="6" style="text-align: center;"><b>Total</b></td>
                <td style="text-align: center;"><b>${{ total_amount|floatformat:"2g" }}</b></td>
            </tr>
        </tbody>
    </table>
</div>

<div style="margin-top: 20px; margin-left: 20px; font-size: 12px;">
    <p style="margin: 5px;">Beneficiary Name: Zem Elitelink Logistics Inc</p>
    <p style="margin: 5px;">Bank Name: {{ ACCT_BANK_NAME }}</p>
    <p style="margin: 5px;">SWIFT Code: {{ ACCT_SWIFT_CODE }}</p>

    <p style="margin: 5px; margin-top: 20px;">ACH/Wire Transfer Routing Number: {{ ACCT_ACH_ROUTING_NUMBER }}</p>
    <p style="margin: 5px;">Beneficiary Account #: {{ ACCT_BENEFICIARY_ACCOUNT }}</p>

    <p style="margin: 5px; margin-top: 20px;">Beneficiary Address: 215 Durham Park Way, Pooler, GA 31322</p>
</div>
{% endblock %}