{% block content %}
<style>
    @page {
            size: landscape; /* Set page orientation to landscape */
        }

    @media print {
        .page-break {
            page-break-before: always;
            justify-content: center;
            align-items: center;
            min-height: 100%;
        }

        .page-break.first-page {
            page-break-before: auto;
        }

        .text-container {
            text-align: center;
            height: 100%;
            padding-top: 60px;
        }

        .text-container.right {
            text-align: right;
            height: 100%;
            padding-right: 10px;
        }

        .small-text {
            font-size: 50px;
            font-family: STSong-Light;
            padding-top: -10px;
            padding-bottom: -10px;
            margin-top: -10px;
            margin-bottom: -10px;
        }

        .small-text.smaller {
            font-size: 25px;
            font-family: STSong-Light;
            padding-top: -5px;
            padding-bottom: -5px;
            margin-top: -5px;
            margin-bottom: -5px;
        }

        .huge-text {
            font-size: 100px;
            font-family: STSong-Light;
            padding: -20px;
            margin: -20px;
        }

        .huge-text.larger {
            font-size: 120px;
            font-family: STSong-Light;
            padding: -20px;
            margin: -20px;
        }

        .huge-text.extra-large {
            font-size: 200px;
            font-family: STSong-Light;
            padding: -20px;
            margin: -20px;
        }
        
    }
</style>

<body>
{% for d in data %}
<div class="page-break {% if forloop.first %}first-page{% endif %}">
    <div class="text-container">
        <br>
        {% if d.hold %}
            <img src="data:image/png;base64,{{ d.barcode }}">
            <p class="huge-text" style="margin-top: 10px;">{{ d.container_number }}</p>
            <p class="huge-text extra-large"><b>{{ d.destination }}</b></p>
            <p class="huge-text"><b>!!! HOLD !!!</b></p>
            <p class="small-text smaller" style="overflow-wrap: break-word;"><b>{{ d.fba_ids }}</b></p>
        {% else %}
            <img src="data:image/png;base64,{{ d.barcode }}">
            <p class="huge-text larger">{{ d.container_number }}</p>
            <p class="huge-text extra-large"><b>{{ d.destination }}</b></p>
        {% endif %}
    </div>
    <div class="text-container right">
        <p class="small-text">{{ d.customer }} {{ d.date }}</p>
    </div>
</div>
{% endfor %}
</body>
{% endblock %}