{% extends 'base.html' %}

{% block content %}
<div><b>订单查询</b></div>
<div style="width: 100%; display: flex; justify-content: space-between;">
    <form method="post" action="" style="width: 80%;">
        {% csrf_token %}
        <div>
            <b style="margin-right: 5px;">客户:</b>
            {{ order_form.customer_name }}
            <b style="margin-right: 5px; margin-left: 10px;">建单时间:</b>
            <input type="date" name="start_date" value="{{ start_date }}">
            <input type="date" name="end_date" value="{{ end_date }}" style="margin-right: 5px;">
            <input type="hidden" name="step" value="invoice_order_search">
            <button id="submit-btn" type="submit" class="btn btn-primary" style="width: 100px; height: 35px; margin-left: 20px;">查询</button>
        </div>
    </form>
</div>
<hr class="Dashed" style="margin-top: 10px; margin-bottom: 10px;">

<div style="display: flex; max-height: 720px;">
    <div style="overflow-y: auto; max-height: 100%; width: 30%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%; margin: 1%;">
        {% if order_no_invoice %}
        <div><b>待开账单</b></div>
        <form method="post" action="">
            {% csrf_token %}
            <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
                <table class="table" id="order-table">
                    <thead>
                        <tr style="position: sticky; top: 0;">
                            <th class="th">客户</th>
                            <th class="th">货柜号</th>
                            <th class="th">建单日期</th>
                        </tr>
                        <tr style="position: sticky; top: 40px;">
                            <th class="th"></th>
                            <th class="th"><input type="text" id="containerSearchInput" placeholder="搜索柜号..." oninput="filterTable(this, 1)"></th>
                            <th class="th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in order_no_invoice %}
                            <tr>
                                <td class="td">{{ c.customer_name.zem_name }}</td>
                                <td class="td">
                                    <a href="/accounting/?step=container_invoice&container_number={{ c.container_number }}" target="_blank">{{ c.container_number }}</a>
                                </td>
                                <td class="td">{{ c.created_at|date:"Y-m-d" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </form>
        {% endif %}
    </div>

    <div style="overflow-y: auto; max-height: 100%; width: 70%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%; margin: 1%;">
        {% if order_invoice %}
        <div><b>已开账单</b></div>
        <form method="post" action="">
            {% csrf_token %}
            <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
                <table class="table" id="order-table">
                    <thead>
                        <tr style="position: sticky; top: 0;">
                            <th class="th" style="max-width: 2%; min-width: 10px; text-align: center;"></th>
                            <th class="th">客户</th>
                            <th class="th">货柜号</th>
                            <th class="th">INVOICE #</th>
                            <th class="th">建单日期</th>
                            <th class="th">账单日期</th>
                            <th class="th">INVOICE</th>
                        </tr>
                        <tr style="position: sticky; top: 40px;">
                            <th class="th" style="max-width: 2%; min-width: 10px; text-align: center;"></th>
                            <th class="th"></th>
                            <th class="th"><input type="text" id="containerSearchInput" placeholder="搜索柜号..." oninput="filterTable(this, 2)"></th>
                            <th class="th"><input type="text" id="containerSearchInput" placeholder="搜索INVOICE #..." oninput="filterTable(this, 3)"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for c in order_invoice %}
                            <tr>
                                <td class="td" style="max-width: 2%; min-width: 10px; text-align: center;">
                                    <input type='checkbox' name='is_order_selected' onclick="toggleRowBackground(this)">
                                    <input type="hidden" name="is_order_selected", value='off'>
                                    <input type="hidden" name="order_id", value='{{ c.order_id }}'>
                                </td>
                                <td class="td">{{ c.customer_name }}</td>
                                <td class="td">{{ c.container_number }}</td>
                                <td class="td">{{ c.invoice_id.invoice_number }}</td>
                                <td class="td">{{ c.created_at|date:"Y-m-d" }}</td>
                                <td class="td">{{ c.invoice_id.invoice_date|date:"Y-m-d" }}</td>
                                <td class="td">
                                    <a href="{{ c.invoice_id.invoice_link }}" target="_blank" style="margin-right: 10px;">
                                        <i class="bi bi-file-earmark-bar-graph-fill"></i>
                                    </a>
                                    <a href="/accounting/?step=container_invoice_edit&container_number={{ c.container_number }}" target="_blank" style="margin-right: 10px;"">
                                        <i class="bi bi-pencil-fill" style="color: rgba(34, 153, 84, 0.873);"></i>
                                    </a>
                                    <a href="#" onclick="confirmDelete(event, '{{ c.container_number }}', '{{ c.invoice_id.invoice_number }}')">
                                        <i class="bi bi-x-circle-fill" style="color: rgb(203, 67, 53);"></i>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <input type="hidden" name="step" value="invoice_order_select">
            <input type="hidden" name="start_date" value="{{ start_date }}">
            <input type="hidden" name="end_date" value="{{ end_date }}">
            <button type="submit" onclick="confirmSubmit()" class="btn btn-primary" style="width: 150px; height: 35px;">生成INVOICE <i class="bi bi-receipt"></i></button>
        </form>
        {% endif %}
    </div>
</div>


<script>
    function filterTable(filterInput, col_idx) {
        var containerInput, containerFilter, table, tbody, tr, containerTd, i, containerTxtValue;
        containerFilter = filterInput.value.toUpperCase();
        var table = filterInput.closest('table');
        tbody = table.getElementsByTagName("tbody")[0];
        tr = tbody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            containerTd = tr[i].getElementsByTagName("td")[col_idx];
            if (containerTd) {

                containerTxtValue = containerTd.textContent || containerTd.innerText;
                containerTxtValue = containerTxtValue.toUpperCase().trim()
                var containerDisplayStyle_1 = containerTxtValue.indexOf(containerFilter) > -1 ? "" : "none";
                var containerDisplayStyle_2 = containerFilter.indexOf(containerTxtValue) > -1 ? "" : "none";
                // Set display style based on both container and customer filters
                tr[i].style.display = containerDisplayStyle_1 === "" || containerDisplayStyle_2 === "" ? "" : "none";
            }
        }
    };

    function toggleRowBackground(checkbox) {
        var row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.style.backgroundColor = '#ADD8E6'; // Change to your desired color
        } else {
            row.style.backgroundColor = ''; // Reset to default color
        }
    };

    function confirmSubmit() {
        const checkBoxes = document.getElementsByName('is_order_selected');
        for (let i = 0; i < checkBoxes.length; i+=2) {
            if (checkBoxes[i].checked) {
                checkBoxes[i+1].disabled = true;
            }
        }
    };

    function confirmDelete(event, containerNumber, invoiceNumber) {
        event.preventDefault();
        const confirmation = confirm(`确认删除${containerNumber}的invoice: ${invoiceNumber}?`);
        if (confirmation) {
            window.location.href = `/accounting/?step=container_invoice_delete&invoice_number=${invoiceNumber}`;
        }
    };
</script>
{% endblock %}