{% extends 'base.html' %}

{% block content %}
<div><h4><b>仓库账单编辑</b></h4></div>
<div  style="display: inline-block; width: 100%; margin: 0; padding: 0; max-width: 100%;">
    <p style="text-align:center;"><b>{{ invoice }}</b></p>
</div>
<div style="max-height: 100%; max-width: 800px; padding: 20px; margin: 0 auto; background-color: #fff; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
    <form method="post" action="">
        {% csrf_token %}
            {% if status == 'confirmed' %}
            <div style="background: #f8f9fa; padding: 10px; margin-bottom: 15px; border-radius: 4px; text-align: center;">
                账单已确认，不可编辑
            </div>
            {% endif %}
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 100px; font-weight: color:#483D8B;" >费用名称</label>
                <span style="color: #808080; width: 150px; margin-left:30px;color:#483D8B;">报价提示</span>
                <span style="color:#483D8B;">价格</span>
                <span style="margin: 0 5px;"></span>
                <span style="margin-left:60px; color:#483D8B;">附加费</span>
                <span style="margin-left:35px; color:#483D8B;">附加费说明</span>
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="sorting">分拣费</label>
                <span style="color: #808080; width: 150px;">({{ FS.sorting }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="sorting" name="sorting" value="{{ invoice_warehouse.sorting }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="sorting_surcharge" name="sorting_surcharge" value="{{ surcharges.sorting }}">
                <input type="text" style="width: 120px;" id="sorting_surcharge_note" name="sorting_surcharge_note" value="{{ surcharges_notes.sorting }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="intercept">拦截费</label>
                <span style="color: #808080; width: 150px;">({{ FS.intercept }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="intercept" name="intercept" value="{{ invoice_warehouse.intercept }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="intercept_surcharge" name="intercept_surcharge" value="{{ surcharges.intercept }}">
                <input type="text" style="width: 120px;" id="intercept_surcharge_note" name="intercept_surcharge_note" value="{{ surcharges_notes.intercept }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="po_activation">亚马逊PO激活</label>
                <span style="color: #808080; width: 150px;">({{ FS.po_activation }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="po_activation" name="po_activation" value="{{ invoice_warehouse.po_activation }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="po_activation_surcharge" name="intercept_surcharge" value="{{ surcharges.po_activation }}">
                <input type="text" style="width: 120px;" id="po_activation_surcharge_note" name="po_activation_surcharge_note" value="{{ surcharges_notes.po_activation }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="self_pickup">客户自提</label>
                <span style="color: #808080; width: 150px;">({{ FS.self_pickup }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="self_pickup" name="self_pickup" value="{{ invoice_warehouse.self_pickup }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="self_pickup_surcharge" name="intercept_surcharge" value="{{ surcharges.self_pickup }}">
                <input type="text" style="width: 120px;" id="self_pickup_surcharge_note" name="self_pickup_surcharge_note" value="{{ surcharges_notes.self_pickup }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="re_pallet">重新打板</label>
                <span style="color: #808080; width: 150px;">({{ FS.re_pallet }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="re_pallet" name="re_pallet" value="{{ invoice_warehouse.re_pallet }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="re_pallet_surcharge" name="re_pallet_surcharge" value="{{ surcharges.re_pallet }}">
                <input type="text" style="width: 120px;" id="re_pallet_surcharge_note" name="re_pallet_surcharge_note" value="{{ surcharges_notes.re_pallet }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="counting">货品清点费</label>
                <span style="color: #808080; width: 150px;">({{ FS.counting }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="counting" name="counting" value="{{ invoice_warehouse.counting }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="counting_surcharge" name="counting_surcharge" value="{{ surcharges.counting }}">
                <input type="text" style="width: 120px;" id="counting_surcharge_note" name="counting_surcharge_note" value="{{ surcharges_notes.counting }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="warehouse_rent">仓租</label>
                <span style="color: #808080; width: 150px;">({{ FS.warehouse_rent }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="warehouse_rent" name="warehouse_rent" value="{{ invoice_warehouse.counting }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="warehouse_rent_surcharge" name="warehouse_rent_surcharge" value="{{ surcharges.warehouse_rent }}">
                <input type="text" style="width: 120px;" id="warehouse_rent_surcharge_note" name="warehouse_rent_surcharge_note" value="{{ surcharges_notes.warehouse_rent }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="specified_labeling">指定贴标</label>
                <span style="color: #808080; width: 150px;">({{ FS.specified_labeling }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="specified_labeling" name="specified_labeling" value="{{ invoice_warehouse.specified_labeling }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="specified_labeling_surcharge" name="specified_labeling_surcharge" value="{{ surcharges.specified_labeling }}">
                <input type="text" style="width: 120px;" id="specified_labeling_surcharge_note" name="warehouse_rent_surcharge_note" value="{{ surcharges_notes.specified_labeling }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="inner_outer_box">内外箱</label>
                <span style="color: #808080; width: 150px;">({{ FS.inner_outer_box }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="inner_outer_box" name="inner_outer_box" value="{{ invoice_warehouse.inner_outer_box }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="inner_outer_box_surcharge" name="inner_outer_box_surcharge" value="{{ surcharges.inner_outer_box }}">
                <input type="text" style="width: 120px;" id="inner_outer_box_surcharge_note" name="inner_outer_box_surcharge_note" value="{{ surcharges_notes.inner_outer_box }}">
            </div>
            
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="pallet_label">托盘标签</label>
                <span style="color: #808080; width: 150px;">({{ FS.pallet_label }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="pallet_label" name="pallet_label" value="{{ invoice_warehouse.pallet_label }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="pallet_label_surcharge" name="pallet_label_surcharge" value="{{ surcharges.pallet_label }}">
                <input type="text" style="width: 120px;" id="pallet_label_surcharge_note" name="pallet_label_surcharge_note" value="{{ surcharges_notes.pallet_label }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="open_close_box">开封箱</label>
                <span style="color: #808080; width: 150px;">({{ FS.open_close_box }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="open_close_box" name="open_close_box" value="{{ invoice_warehouse.open_close_box }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="open_close_box_surcharge" name="pallet_label_surcharge" value="{{ surcharges.open_close_box }}">
                <input type="text" style="width: 120px;" id="open_close_box_surcharge_note" name="open_close_box_surcharge_note" value="{{ surcharges_notes.open_close_box }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="destroy">销毁</label>
                <span style="color: #808080; width: 150px;">({{ FS.destroy }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="destroy" name="destroy" value="{{ invoice_warehouse.destroy }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="destroy_surcharge" name="destroy_surcharge" value="{{ surcharges.destroy }}">
                <input type="text" style="width: 120px;" id="destroy_surcharge_note" name="destroy_surcharge_note" value="{{ surcharges_notes.destroy }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="take_photo">拍照</label>
                <span style="color: #808080; width: 150px;">({{ FS.take_photo }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="take_photo" name="take_photo" value="{{ invoice_warehouse.take_photo }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="take_photo_surcharge" name="take_photo_surcharge" value="{{ surcharges.take_photo }}">
                <input type="text" style="width: 120px;" id="take_photo_surcharge_note" name="take_photo_surcharge_note" value="{{ surcharges_notes.take_photo }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="take_video">拍视频</label>
                <span style="color: #808080; width: 150px;">({{ FS.take_video }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="take_video" name="take_video" value="{{ invoice_warehouse.take_video }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="take_video_surcharge" name="take_photo_surcharge" value="{{ surcharges.take_video }}">
                <input type="text" style="width: 120px;" id="take_video_surcharge_note" name="take_video_surcharge_note" value="{{ surcharges_notes.take_video }}">
            </div>
            <div style="display: flex; align-items: center; margin-bottom: 10px;">
                <label style="width: 120px; font-weight: bold;" for="repeated_operation_fee">重复操作费</label>
                <span style="color: #808080; width: 150px;">({{ FS.repeated_operation_fee }})</span>
                <input type="number" style="width: 80px; margin-right: 10px;" id="repeated_operation_fee" name="repeated_operation_fee" value="{{ invoice_warehouse.repeated_operation_fee }}">
                <span style="margin: 0 5px;">+</span>
                <input type="number" style="width: 70px; margin-right: 10px;" id="repeated_operation_fee_surcharge" name="repeated_operation_fee_surcharge" value="{{ surcharges.repeated_operation_fee }}">
                <input type="text" style="width: 120px;" id="repeated_operation_fee_surcharge_note" name="repeated_operation_fee_surcharge_note" value="{{ surcharges_notes.repeated_operation_fee }}">
            </div>
            <div style="display: flex; align-items: center;">
                <div style="width: 250px; padding-top: 10px; margin: 0 auto; text-align: center;">
                  <button type="button" onclick="addNewFeeGroup()" 
                          style="background:#6366f1;color:white;border:0;border-radius:6px;padding:8px 16px;cursor:pointer;font-size:14px;">
                    + 添加
                  </button>
                </div>
                
                <div style="flex: 1;">
                  {% for key,value in invoice_warehouse.other_fees.items %}
                  <div style="display: flex; align-items: center; margin-bottom: 10px;">
                    <input type="text" name="others_feename" value="{{ key }}" 
                           style="width: 150px; margin-right: 10px;" placeholder="费用名称">
                    <input type="number" name="others_feeamount" min="0" value="{{ value }}" style="width: 80px;" placeholder="金额">
                    <button class="remove-fee-btn" style="background: #ff4444; color: white; border: none; border-radius: 50%; width: 20px; height: 20px; cursor: pointer; margin-left: 10px;display: flex;align-items: center;justify-content: center;padding: 0;line-height: 1;font-size: 14px;" onclick="removeFeeGroup(this)">×</button>
                  </div>
                  {% endfor %}
                  
                  <div id="new-fee-template" style="display: none; align-items: center; margin-bottom: 10px;">
                    <input type="text" name="others_feename" 
                           style="width: 150px; margin-right: 10px;" placeholder="费用名称">
                    <input type="number" name="others_feeamount" min="0" style="width: 80px;" placeholder="金额">
                    <button class="remove-fee-btn" style="background: #ff4444; color: white; border: none; border-radius: 50%; width: 20px; height: 20px; cursor: pointer; margin-left: 10px;display: flex;align-items: center;justify-content: center;padding: 0;line-height: 1;font-size: 14px;" onclick="removeFeeGroup(this)">×</button>
                  </div>
                </div>
            </div>
            <div style="margin-left: auto; display: inline-flex; align-items: center; height: 100%; padding: 0 12px; background: #f8f9fa; border-radius: 4px; border: 1px solid #e0e0e0;">
                <span style="font-weight: bold; color: #555; margin-right: 5px;">总金额：</span>
                <span id="total_amount" style="font-weight: bold; color: #2c3e50;">0</span>
                <span style="font-weight: bold; color: #2c3e50; margin-left: 3px;">USD</span>
                <input type="hidden" name="amount" id="amount">
            </div>
        <input type="hidden" name="step" value="warehouse_save">
        <input type="hidden" name="warehouse" value="{{warehouse}}">
        <input type="hidden" name="container_number" value="{{ container_number }}">
        <input type="hidden" name="start_date" value="{{ start_date }}">
        <input type="hidden" name="end_date" value="{{ end_date }}">
        <input type="hidden" name="invoice_number" value="{{ invoice_warehouse.invoice_number }}">
        {% if status != 'confirmed' %}
            <button type="submit" class="btn btn-primary" style="width: 150px; height: 35px;" onclick="validateForm()">确认</button>
        {% endif %}
    </form>
</div>

<script>
    function addNewFeeGroup() {
        const template = document.getElementById('new-fee-template');
        const newGroup = template.cloneNode(true);
        newGroup.querySelector('input[type="text"]').value = '';
        newGroup.querySelector('input[type="number"]').value = '';
        newGroup.style.display = 'flex';
        template.parentNode.insertBefore(newGroup, template);
        setupTotalCalculator()
    }
    function removeFeeGroup(button) {
        button.parentElement.remove();
    }
    function setupTotalCalculator() {
        const inputs = document.querySelectorAll('input[type="number"]');
        const totalAmountSpan = document.getElementById('total_amount');
        function calculateTotal() {
            let total = 0;
            inputs.forEach(input => {
                const value = parseFloat(input.value);
                if (!isNaN(value)) {
                    total += value;
                }
            });
            totalAmountSpan.textContent = total;
        }
        inputs.forEach(input => {
            input.addEventListener('input', calculateTotal);
        });
        calculateTotal();
        return calculateTotal;   
    }
       
    window.onload = function () {
        const calculateTotal = setupTotalCalculator();
    };   
    function validateForm() {
        const form = document.querySelector('form');
        const inputs = form.querySelectorAll('input.original-input');
        const labels = form.querySelectorAll('label');
        // 定义金额要求的映射关系
        const amountRequirements=JSON.parse('{{ fs_json|escapejs }}');
        console.log(amountRequirements);
        /*
        const amountRequirements = {
            "分拣费": 1.5,
            "拦截费": 50,
            "客户自提": 10,
            "重新打板": 15,
            "货品清点费": 0.5,
            "仓租": 1,
            "指定贴标": 1.5,
            "内外箱": 0.5, 
            "托盘标签": 2,
            "开封箱": 1,
            "销毁": 1,
            "拍照": 1,
            "拍视频": 15,
            "重复操作费": (50-500),
        };*/
        for (let i = 0; i < inputs.length-1; i++) {
            const input = inputs[i];
            const labelText = labels[i].textContent.trim();
            const requiredAmount = amountRequirements[labelText];
            if (requiredAmount && input.value!== "") {
                if (labelText === "重复操作费") {
                    const value = parseFloat(input.value);
                    if (isNaN(value) || value < 50 || value > 500) {
                        alert('输入值'+value+'不符合要求，请按照"' + labelText + '"的金额要求填写（50 - 500）');
                        event.preventDefault();
                    }
                }else{
                    const value = parseFloat(input.value);
                    console.log(value,requiredAmount);
                    if (isNaN(value) || value % requiredAmount!== 0) {
                        alert('输入值'+value+'不符合要求，请按照"' + labelText + '"的金额要求填写');
                        event.preventDefault();
                    }
                }             
            }
        }
        const totalAmountSpan = document.getElementById('total_amount');
        const AmountInput = document.getElementById('amount');  
        AmountInput.value = totalAmountSpan.textContent;  
        
    };
</script>
{% endblock %}