{% extends 'base.html' %}

{% block content %}
<div><b>货物状态</b></div>
<form method="post" action="">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">批次号:</b>
        <input type="text" name="batch_number" value="{{ batch_number }}">
        <b style="margin-right: 5px; margin-left: 10px;">柜号:</b>
        <input type="text" name="container_number" value="{{ container_number }}">
        <b style="margin-right: 5px; margin-left: 10px;">目的地:</b>
        <input type="text" name="destination" value="{{ destination }}">
        <input type="hidden" name="step" value="search">
        <button id="submit-btn" type="submit" class="btn btn-primary" style="width: 100px; height: 35px; margin-left: 20px;">查询</button>
    </div>
</form>
<hr class="Dashed" style="margin-top: 10px; margin-bottom: 10px;">

{% endblock %}