{% extends 'base.html' %}
{% load static %}
{% load static custom_tags %}
{% load static custom_filters %}

{% block content %}
<div><b>预约出库</b></div>
<form method="post" action="">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">所属仓:</b>
        <select name="area">
            {% for k, v in area_options.items %}
            <option value="{{ v }}" {% if k == selected_area %}selected{% endif %}>{{ k }}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="step" value="warehouse">
        <button type="submit">确认</button>
    </div>
</form>

{% endblock %}