{% extends 'base.html' %}
{% load static %}
{% load static custom_tags %}
{% load static custom_filters %}
{% load static custom_mod %}
{% load static custom_floor_division %}

{% block content %}
<div><b>预约管理</b></div>

<form id="warehouse-form" method="post" action="" onsubmit="showLoadingBar()">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">所属仓:</b>
        <select name="area" id="areaSelect">
            {% for k, v in area_options.items %}
            <option value="{{ v }}" {% if k == area %}selected{% endif %}>{{ k }}</option>
            {% endfor %}
        </select>
        <b style="margin-right: 5px;">ETA:</b>
        <input type="date" name="start_date" value="{{ start_date }}">
        <input type="date" name="end_date" value="{{ end_date }}" style="margin-right: 5px;">
        <input type="hidden" name="step" value="warehouse">
        <button type="submit">确认</button>
    </div>
</form>

<div id="loading-bar">
    <div class="spinner"></div>
    <p>Loading, please wait...</p>
</div>

<div style="display: flex;">
    <div style="height: 800px; width: 60%; margin-top: .5%; margin-right: .5%; margin-bottom: 1%;">
        <div style="height: 50%; width: 100%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%;">
            <div style="max-height: 99%; overflow-y: scroll;">
                <form method="post" action="" style="max-height: 100%;" onsubmit="showLoadingBar()">
                    {% csrf_token %}
                    <div style="display: flex; position: sticky; top: 0; background-color: #f8f9fa;">
                        <div style="width: 80%;">
                            <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                                待预约
                            </b>
                            <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                                CBM - 
                                <span class="status-span-green-100" style="padding-top: 0; padding-bottom: 0;">库存 {{ cbm_act|floatformat:2 }}</span> / 
                                <span class="status-span-blue-100" style="padding-top: 0; padding-bottom: 0;">ETA {{ cbm_est|floatformat:2 }}</span>
                            </b>
                            <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                                卡板 - 
                                <span class="status-span-green-100" style="padding-top: 0; padding-bottom: 0;">库存 {{ pallet_act|floatformat:0 }}</span> / 
                                <span class="status-span-blue-100" style="padding-top: 0; padding-bottom: 0;">ETA {{ pallet_est|floatformat:0 }}</span>
                            </b>
                        </div>
                        <input type="hidden" name="step" value="selection">
                        <input type="hidden" name="area" value="{{ area }}">
                        <input type="hidden" name="start_date" value="{{ start_date }}">
                        <input type="hidden" name="end_date" value="{{ end_date }}" style="margin-right: 5px;">
                        <button type="submit" onclick="confirmSubmit()" class="btn btn-primary" style="font-size: 11px;">预约出库批次</button>
                    </div>
                    
                    <table id="packing-list-table" class="table" style="font-size: 11px; max-height: 90%; overflow-y: scroll;">
                        <thead>
                            <tr style="position: sticky; top: 30px;">
                                <th class="th" style="min-width: 40px; text-align: center;"></th>
                                <th class="th">客户</th>
                                <th class="th">货柜号</th>
                                <th class="th">目的仓库</th>
                                <th class="th">所属仓库</th>
                                <th class="th">是否放行</th>
                                <th class="th">ETA</th>
                                <th class="th">预计提柜</th>
                                <th class="th">入仓时间</th>
                                <th class="th">CBM</th>
                                <th class="th">卡板数</th>
                                <th class="th">派送方式</th>
                                <th class="th">总重lbs</th>
                            </tr>
                            <tr style="position: sticky; top: 52px;">
                                <th class="th" style="min-width: 40px;"></th>
                                <th class="th"></th>
                                <th class="th"><input type="text" id="containerSearchInput" placeholder="搜索柜号..." oninput="filterTable()" size="13" style="font-size: 11px;"></th>
                                <th class="th"><input type="text" id="destinationSearchInput" placeholder="搜索目的仓库..." oninput="filterTable()" size="13" style="font-size: 11px;"></th>
                                <th class="th"></th>
                                <th class="th"></th>
                                <th class="th"></th>
                                <th class="th"></th>
                                <th class="th"></th>
                                <th class="th" style="color: red; font-weight: bold;"></th>
                                <th class="th" style="color: red; font-weight: bold;"></th>
                                <th class="th"></th>
                                <th class="th" style="color: red; font-weight: bold;"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for c in packing_list_not_scheduled %}
                            <tr>
                                <td class="td" style="min-width: 40px; text-align: center;">
                                    <input type='checkbox' name='is_shipment_schduled' onclick="toggleRowBackground(this)" {% if c.ids in pl_ids_raw %}checked{% elif c.plt_ids in plt_ids_raw %}checked{% endif %} {% if c.abnormal_palletization or c.po_expired or 'HOLD' in c.custom_delivery_method.upper %}disabled{% endif %}>
                                    <input type="hidden" name="is_shipment_schduled", value='off'>
                                    <input type="hidden" name="pl_ids", value='{{ c.ids }}'>
                                    <input type="hidden" name="plt_ids", value='{{ c.plt_ids }}'>
                                </td>
                                <td class="td" style="max-width: 120px; word-break: break-all;">{{ c.container_number__order__customer_name__zem_name }}</td>
                                <td class="td">{{ c.container_number__container_number }}</td>
                                <td class="td" name="po-destination">
                                    {{ c.destination }}
                                    {% if c.abnormal_palletization %}
                                    <span class="status-span-red" style="padding-top: 0; padding-bottom: 0;">未解决拆柜异常</span>
                                    {% endif %}
                                    {% if c.po_expired %}
                                    <span class="status-span-yellow" style="padding-top: 0; padding-bottom: 0;">PO失效</span>
                                    {% endif %}
                                </td>
                                <td class="td">{{ c.warehouse }}</td>
                                <td class="td">
                                    <label 
                                        for="status-{{c.id}}" class="status-label"
                                        style="display: flex; justify-content: center; align-items: center; width: 30px; height: 30px; border-radius: 50%; 
                                        color: white; font-weight: bold; transition: background-color 0.3s ease; 
                                        background-color: {% if c.temp_t49_pickup %} #4CAF50 {% else %} #f44336 {% endif %}; font-size: 15px; margin-right: 10px;"
                                    >
                                    {% if c.temp_t49_pickup %}
                                        &#10004;
                                    {% else  %}
                                        &#10008;
                                    {% endif %}
                                </td>
                                <td class="td">{{ c.eta|date:"M-j" }}</td>
                                <td class="td">
                                    {% if c.target_retrieval_timestamp_lower and c.target_retrieval_timestamp %}
                                        {{ c.target_retrieval_timestamp_lower|date:"M-j" }} ~ {{ c.target_retrieval_timestamp|date:"M-j" }}
                                    {% elif c.target_retrieval_timestamp %}
                                        {{ c.target_retrieval_timestamp|date:"M-j" }}
                                    {% elif c.target_retrieval_timestamp_lower %}
                                        {{ c.target_retrieval_timestamp_lower|date:"M-j" }}
                                    {% else %}
                                        <span class="status-span-red">未提供提柜时间</span>
                                    {% endif %}
                                </td>
                                <td class="td">
                                    {% if c.schedule_status == 'past_due' %}
                                    <span class="status-span-red">{{ c.container_number__order__offload_id__offload_at|date:"M-j" }}</span>
                                    {% else %}
                                    {{ c.container_number__order__offload_id__offload_at|date:"M-j" }}
                                    {% endif %}
                                </td>
                                <td class="td" name ="total_cbm">{{ c.total_cbm|floatformat:2 }}</td>
                                <td class="td">
                                    {% if c.label == "ACT" %}
                                    <span class="status-span-green-100">ACT</span>
                                    {{ c.total_n_pallet_act }}
                                    {% else %}
                                        <span class="status-span-blue-100">EST</span>
                                        {% if c.total_n_pallet_est < 1 %}
                                        {{ 1 }}
                                        {% elif c.total_n_pallet_est|modulo:1 >= 0.45 %}
                                        {{ c.total_n_pallet_est|floor_division:1|add:1|floatformat:0 }}
                                        {% else %}
                                        {{ c.total_n_pallet_est|floor_division:1|floatformat:0 }}
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td class="td">
                                    {% with first_value=c.custom_delivery_method|split_and_get_first %}
                                        {{ first_value }}
                                    {% endwith %}
                                </td>
                                <td class="td">{{ c.total_weight_lbs|floatformat:2 }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form> 
            </div>
        </div>
        <div style="height: 50%; width: 100%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%; margin-top: .5%;">
            <div>
                <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                    预约批次 - {{ shipment_list|length }}
                </b>
            </div>
            <div style="max-height: 95%; overflow-y: scroll;">
                <table id="shipment-table" class="table" style="font-size: 11px; max-height: 90%; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th class="th">预约批次</th>
                            <th class="th">目的地</th>
                            <th class="th">预约号</th>
                            <th class="th">Scheduled Time</th>
                            <th class="th">总重lbs</th>
                            <th class="th">总CBM</th>
                            <th class="th">总卡板数</th>
                            <th class="th">备注</th>
                            {% if user.is_authenticated and user.is_staff %}
                            <th class="th">撤销预约</th>
                            {% endif %}
                        </tr>
                        <tr style="position: sticky; top: 28px;">
                            <th class="th"><input type="text" id="shipmentSearchInput" placeholder="搜索批次号..." oninput="filterShipmentTable()" size="13" style="font-size: 11px;"></th>
                            <th class="th"><input type="text" id="destSearchInput" placeholder="搜索目的地..." oninput="filterShipmentTable()" size="13" style="font-size: 11px;"></th>
                            <th class="th"><input type="text" id="appIdSearchInput" placeholder="搜索预约号..." oninput="filterShipmentTable()" size="13" style="font-size: 11px;"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                            <th class="th"></th>
                            {% if user.is_authenticated and user.is_staff %}
                            <th class="th"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in shipment_list %}
                        <tr>
                            <td class="td" style="max-width: 120px; word-break: break-all;">
                                <a href="/schedule_shipment/?step=shipment_info&batch_number={{ s.shipment_batch_number }}&area={{ area }}">
                                    {{ s.shipment_batch_number }}
                                </a>
                            </td>
                            <td class="td">
                                {{ s.destination }}
                                {% if s.abnormal_palletization %}
                                <span class="status-span-red" style="padding-top: 0; padding-bottom: 0;">未解决拆柜异常</span>
                                {% endif %}
                                {% if s.po_expired %}
                                <span class="status-span-yellow" style="padding-top: 0; padding-bottom: 0;">PO失效</span>
                                {% endif %}
                            </td>
                            <td class="td">{{ s.appointment_id }}</td>
                                                            
                            <td class="td">{{ s.shipment_appointment|date:"Y-m-d" }} {{ s.shipment_appointment|time:"H:i" }}</td>
                            <td class="td">{{ s.total_weight|floatformat:2 }}</td>
                            <td class="td">{{ s.total_cbm|floatformat:2 }}</td>
                            <td class="td">{{ s.total_pallet }}</td>
                            <td class="td" style="max-width: 120px; word-break: break-all;">{% if s.not %}{{ s.note }}{% endif %}</td>
                            {% if user.is_authenticated and user.is_staff %}
                            <td class="td">
                                <form method="post" action="">
                                    {% csrf_token %}
                                    <input type="hidden" name="step" value="cancel">
                                    <input type="hidden" name="type" value="td">
                                    <input type="hidden" name="shipment_batch_number" value="{{ s.shipment_batch_number }}">
                                    <input type="hidden" name="area" value="{{ area }}">
                                    <button type="submit" class="btn btn-danger" onclick="checkFleet('{{ s.fleet_number }}')"><i class="bi bi-x-octagon"></i></button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    {% block schedule_shipment %}
        
    {% endblock %}

    {% block shipment_info %}
        
    {% endblock %}
</div>

<script>
    function filterTable() {
        var containerInput, destinationInput, containerFilter, destinationFilter, table, tbody, tr, containerTd, destinationTd, i, containerTxtValue, destinationTxtValue;
        containerInput = document.getElementById("containerSearchInput");
        destinationInput = document.getElementById("destinationSearchInput");
        containerFilter = containerInput.value.toUpperCase();
        destinationFilter = destinationInput.value.toUpperCase();
        table = document.getElementById("packing-list-table");
        tbody = table.getElementsByTagName("tbody")[0];
        tr = tbody.getElementsByTagName("tr");
        var parts = containerFilter.split(/\W/);  //按照除字母数字（柜号）外的字符分组
        for (var i = 0; i < parts.length; i++) {
            var part = parts[i];  
        }

        for (i = 0; i < tr.length; i++) {
            containerTd = tr[i].getElementsByTagName("td")[2]; 
            destinationTd = tr[i].getElementsByTagName("td")[3]; 
            if (containerTd && destinationTd) {
                containerTxtValue = containerTd.textContent || containerTd.innerText;
                destinationTxtValue = destinationTd.textContent || destinationTd.innerText;
                var destinationDisplayStyle = destinationTxtValue.toUpperCase().indexOf(destinationFilter) > -1 ? "" : "none";
                var containerDisplayStyle = "none";
                if (parts.length >0){              //如果一次输入多个柜号，则分开处理柜号的显示属性
                    for(var j=0;j<parts.length;j++){
                        if(containerTxtValue.toUpperCase().indexOf(parts[j]) > -1){
                            var containerDisplayStyle = "";
                            break;
                        }
                    }
                }else{
                    containerDisplayStyle = containerTxtValue.toUpperCase().indexOf(containerFilter) > -1 ? "" : "none";
                }
                
                tr[i].style.display = containerDisplayStyle === "" && destinationDisplayStyle === "" ? "" : "none";
            }
        }
    }

    function filterShipmentTable() {
        var shipmentInput = document.getElementById("shipmentSearchInput").value.toUpperCase();
        var destInput = document.getElementById("destSearchInput").value.toUpperCase();
        var appIdInput = document.getElementById("appIdSearchInput").value.toUpperCase();
        tr = document.querySelectorAll("#shipment-table tbody tr");

        for (i = 0; i < tr.length; i++) {
            var shipmentTd = tr[i].getElementsByTagName("td")[0];
            var destTd = tr[i].getElementsByTagName("td")[1];
            var appIdTd = tr[i].getElementsByTagName("td")[2];
            if (shipmentTd && destTd && appIdTd) {
                var shipmentTxtValue = shipmentTd.textContent.trim();
                var destTxtValue = destTd.textContent.trim();
                var appIdTxtValue = appIdTd.textContent.trim(); 

                var shipmentDisplayStyle = shipmentTxtValue.toUpperCase().indexOf(shipmentInput) > -1 ? "" : "none";
                var destDisplayStyle = destTxtValue.toUpperCase().indexOf(destInput) > -1 ? "" : "none";
                var appIdDisplayStyle = appIdTxtValue.toUpperCase().indexOf(appIdInput) > -1 ? "" : "none";

                tr[i].style.display = shipmentDisplayStyle === "" && destDisplayStyle === "" && appIdDisplayStyle === "" ? "" : "none";
            }
        };
    };

    function confirmSubmit() {
        const checkBoxes = document.getElementsByName('is_shipment_schduled');
        const destinationCells = document.getElementsByName('po-destination');
        const selectedCells = [];
        for (let i = 0; i < checkBoxes.length; i+=2) {
            if (checkBoxes[i].checked) {
                selectedCells.push(destinationCells[i/2].textContent.trim().replace("沃尔玛", "").replace("-", "")); 
            };
        };
        const allSame = selectedCells.every(value => value === selectedCells[0]);
        if (!allSame) {
            alert("请确认选中PO的目的仓是否一致！");
            event.preventDefault();
        } else {
            for (let i = 0; i < checkBoxes.length; i+=2) {
                if (checkBoxes[i].checked) {
                    checkBoxes[i+1].disabled = true;
                };
            };
        };
    };

    function toggleRowBackground(checkbox) {
        var row = checkbox.closest('tr');
        if (checkbox.checked) {
            row.style.backgroundColor = '#ADD8E6'; // Change to your desired color
        } else {
            row.style.backgroundColor = ''; // Reset to default color
        }
    };

    document.addEventListener('DOMContentLoaded', function () {
        calculateTotal();
    });    
    
    function calculateTotal(){
        var table = document.getElementById('packing-list-table');
        var sumRow = table.getElementsByTagName('thead')[0].getElementsByTagName('tr')[1];
        var checkboxes = table.querySelectorAll('input[type="checkbox"]');
        checkboxes.forEach(function (checkbox) {
            checkbox.addEventListener('change', function () {
                var cbmSum = 0;
                var palletSum = 0;
                var weightSum = 0;
                checkboxes.forEach(function (cb) {
                    if (cb.checked) {
                        var row = cb.closest('tr');
                        var cbm = parseFloat(row.cells[8].textContent);

                        var pallet = row.cells[9].textContent;
                        pallet = pallet.replace(/(ACT|EST)\s*/g, '').trim();                        
                        pallet = parseInt(pallet);
                        var weight = parseFloat(row.cells[11].textContent);
                        palletSum += pallet;

                        cbmSum += cbm;
                        cbmSum = cbmSum.toFixed(2);
                        cbmSum = parseFloat(cbmSum);
                        
                        weightSum += weight;
                        weightSum = weightSum.toFixed(2);
                        weightSum = parseFloat(weightSum);
                    }
                });
                sumRow.cells[8].textContent = cbmSum;
                sumRow.cells[9].textContent = palletSum;
                sumRow.cells[11].textContent = weightSum;
            });
        });
    };

    function showLoadingBar() {
        document.getElementById('loading-bar').style.display = 'block';
    }

    // Hide loading bar when page is fully loaded
    window.onload = function() {
        document.getElementById('loading-bar').style.display = 'none';
    };

    document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('warehouse-form');
        if (form) {
            form.addEventListener('submit', function() {
                showLoadingBar();
            });
        }
    });

    function checkFleet(fleet) {
        if (fleet != "None") {
            console.log(fleet);
            alert('该预约已排车，请先确认撤销车次: ' + fleet);
            event.preventDefault();
        }
    };

</script>
{% endblock %}