{% extends 'post_port/shipment/04_outbound_main.html' %}
{% load static custom_mod %}
{% load static custom_filters %}
{% load static custom_floor_division %}

{% block depature_confirmation %}
<div style="max-height: 800px; width: 55%; margin-top: .5%; margin-right: .5%; margin-bottom: 1%;">
    <div style="max-height: 100%; width: 100%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%;">
        <div style="display: flex; position: sticky; top: 0; background-color: #f8f9fa;">
            <div style="width: 80%;">
                <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                    {{ selected_fleet.fleet_number }}
                    {% if selected_fleet.multipule_destination %}
                    - 一提两卸
                    {% endif %}
                </b>
            </div>
        </div>
        <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 20%; margin: 5px;">
            <form method="post" action="" style="display: inline-block;" id="exportfleet-{{ selected_fleet.fleet_number }}">
                {% csrf_token %}
                <input type="hidden" name="step" value="export_packing_list">
                <input type="hidden" name="fleet_number" value="{{ selected_fleet.fleet_number }}">
                <button type="submit" class="btn btn-success" style="font-size: 15px;">
                    <small>拣货单</small>
                    <i class="bi bi-cloud-arrow-down-fill"></i>
                </button>
                <button id="editButton" type="button" class="btn btn-primary" onclick="editBOL(this, '{{ selected_fleet.fleet_number }}')" style="font-size: 11px;">编辑</button>
                <div class="popup-{{ selected_fleet.fleet_number }}" style="display: none; z-index:999; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border: 1px solid gray; padding: 20px;">
                    <div style="text-align:right;">
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="addRowBelow('fleet','{{ selected_fleet.fleet_number }}')">
                            <i class="bi bi-plus-lg"></i> 添加行
                        </button>
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="editTable('fleet', true, '{{ selected_fleet.fleet_number }}')">编辑</button>
                    </div>
                    <table style=" max-height:90%; overflow-y:scroll; margin: 10px; padding: 100px;" cellpadding='15' id="fleet-container-{{ selected_fleet.fleet_number }}">
                        <thead>                       
                            <th class="th" style="text-align: center; border: 1px solid #141414">柜号</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">预约批次</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">仓点</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">CBM</th> 
                            <th class="th" style="text-align: center; border: 1px solid #141414">板数</th>   
                        </thead>
                        {% for s in pl_fleet %}
                        <tr id="fleet-row">
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true">{{ s.container_number__container_number }}</td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true">{{ s.shipment_batch_number__shipment_batch_number }}</td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true">{{ s.destination }}</td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true">{{ s.total_cbm }}</td>
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true">{{ s.total_n_pallet }}</td>
                        </tr>
                        {% endfor %}
                        <tr id="fleet-row-empty-{{ selected_fleet.fleet_number }}" style="display: none;">
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                        </tr>  
                    </table>
                    <div style="text-align:right;">
                        <button id="confirmButton" type="button" class="btn btn-primary"  style="font-size: 11px;" onclick="editTable('fleet', false, '{{ selected_fleet.fleet_number }}')">确认</button>
                    </div>
                </div>              
            </form>
            {% for batch_number in shipment_batch_numbers %}
            <form method="post" action="" style="display: inline-block;" id="exportBOL-{{ batch_number }}">
                {% csrf_token %}
                <input type="hidden" name="step" value="export_bol">
                <input type="hidden" name="shipment_batch_number" value="{{ batch_number }}">
                <input type="hidden" name="warehouse" value="{{ warehouse }}">
                <button type="submit" class="btn btn-success" style="font-size: 15px;">
                    <small>BOL- {{ batch_number }}</small>
                    <i class="bi bi-cloud-arrow-down-fill"></i>
                </button>
                <button id="editButton" type="button" class="btn btn-primary" onclick="editBOL(this, '{{ batch_number }}')" style="font-size: 11px;">编辑</button>
                <div class="popup-{{ batch_number }}" style="display: none; z-index:999; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border: 1px solid gray; padding: 20px;">
                    <div style="text-align:right;">
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="addRowBelow('BOL','{{ batch_number }}')">
                            <i class="bi bi-plus-lg"></i> 添加行
                        </button>
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="editTable('BOL', true, '{{ batch_number }}')">编辑</button>
                    </div>
                    <table style=" max-height:90%; overflow-y:scroll; margin: 10px; padding: 100px;" cellpadding='15' id="BOL-container-{{ batch_number }}">
                        <thead>                       
                            <th class="th" style="text-align: center; border: 1px solid #141414">Container</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Shipment ID</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Ref ID</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Qty</th>   
                        </thead>
                        {% for c in packing_list|get:batch_number %}
                        <tr id="BOL-row">
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true">{{ c.container_number }}</td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true">{{ c.fba_id }}</td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true">{{ c.ref_id }}</td>
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true">{{ c.pcs }}</td>
                        </tr>
                        {% endfor %}
                        <tr id="BOL-row-empty-{{ batch_number }}" style="display: none;">
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                        </tr> 
                    </table>
                    <div style="text-align:right;">
                        <button id="confirmButton" type="button" class="btn btn-primary"  style="font-size: 11px;" onclick="editTable('BOL', false, '{{ batch_number }}')">确认</button>
                    </div>
                </div>
                <script src="script.js"></script>
            </form>
            {% endfor %}
            <!--处理加塞的柜子-->
            <form method="post" action="" style="display: inline-block;" id="exportPallet-add">
                {% csrf_token %}
                <input type="hidden" name="step" value="add_pallet">
                <button id="editButton" type="button" class="btn btn-primary" onclick="editBOL(this, 'pallet')" style="float: right; font-size: 14px; font-weight: bold; color:white; background-color:#dc3545;padding: 10px 20px;">加塞</button>
                <div class="popup-pallet" style="display: none; z-index:999; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: white; border: 1px solid gray; padding: 20px;">
                    <div style="text-align:right;">
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="addRowBelow('pallet','')">
                            <i class="bi bi-plus-lg"></i> 添加行
                        </button>
                        <button type="button" id="add-more-btn" class="btn btn-success" style="height: 35px; font-size: 12px; margin: 5px;" onclick="editTable('pallet', true, '')">编辑</button>
                    </div>
                    <table style=" max-height:90%; overflow-y:scroll; margin: 10px; padding: 100px;" cellpadding='15' id="add-pallet">
                        <thead>                       
                            <th class="th" style="text-align: center; border: 1px solid #141414">shipment</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Container</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Destination</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">delivery_method</th>
                            <th class="th" style="text-align: center; border: 1px solid #141414">Pallet</th>  
                        </thead>
                        <tr id="add-pallet-row" >
                        <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; padding:10px;" data-editable="true"></td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                            <td class="td">
                                <select name="delivery_method"  class="delivery-method">
                                {% for k, v in delivery_options %}
                                <option value="{{ v }}">{{ k }}</option>
                                {% endfor %}
                                </select>
                            </td>
                            <td style="text-align: center; border: 1px solid #141414; text-wrap: wrap; padding:10px;" data-editable="true"></td>
                        </tr> 
                    </table>
                    <div style="text-align:right;">
                        <button id="confirmAddPallet" type="submit" class="btn btn-primary"  style="font-size: 11px;" onclick="editTable('pallet',false,'')">确认</button>
                    </div>
                </div>
            </form>
        </div>
        <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 60%;">
            <form method="post" action="" style="width: 100%;">
                {% csrf_token %}
                <table id="shipment-table" class="table" style="font-size: 11px; max-height: 90%; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th class="th">预约批次</th>
                            <th class="th">预约号</th>
                            <th class="th">柜号</th>
                            <th class="th">目的地</th>
                            <th class="th">Scheduled Time</th>
                            <th class="th">备注</th>
                            <th class="th">总重lbs</th>
                            <th class="th">总CBM</th>
                            <th class="th">总卡板数</th>
                            <th class="th">实际出库板数</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for s in shipment %}
                        <tr>
                            <td class="td" style="max-width: 120px; word-break: break-all;">
                                <a href="/schedule_shipment/?step=shipment_info&batch_number={{ s.shipment_batch_number__shipment_batch_number }}&warehouse={{ warehouse }}" target="_blank">
                                    {{ s.shipment_batch_number__shipment_batch_number }}
                                </a>
                            </td>
                            <td class="td">{{ s.shipment_batch_number__appointment_id }}</td>
                            <td class="td">{{ s.container_number__container_number }}</td>
                            <td class="td">{{ s.destination }}</td>
                            <td class="td">{{ s.shipment_batch_number__shipment_appointment|date:"Y-m-d" }} {{ s.shipment_batch_number__shipment_appointment|time:"H:i" }}</td>
                            <td class="td" style="max-width: 120px; word-break: break-all;">{{ s.shipment_batch_number__note }}</td>
                            <td class="td">
                                {{ s.total_weight|floatformat:2 }}
                                <input type="hidden" name="scheduled_weight" value="{{ s.total_weight }}">
                            </td>
                            <td class="td">
                                {{ s.total_cbm|floatformat:2 }}
                                <input type="hidden" name="scheduled_cbm" value="{{ s.total_cbm }}">
                            </td>
                            <td class="td">
                                {{ s.total_pallet|floatformat:0 }}
                                <input type="hidden" name="scheduled_pallet" value="{{ s.total_pallet }}">
                            </td>
                            <td class="td">
                                <input type="number" name="actual_shipped_pallet" step=1 max="{{ s.total_pallet }}" required>
                            </td>
                            <input type="hidden" name="batch_number" value="{{ s.shipment_batch_number__shipment_batch_number }}">
                            <input type="hidden" name="pl_ids" value="{{ s.ids }}">
                            <input type="hidden" name="plt_ids" value="{{ s.plt_ids }}">
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <table id="fleet-departure-table" class="table" style="font-size: 11px; max-height: 90%; overflow-y: scroll;">
                    <thead>
                        <tr>
                            <th class="th">实际出库时间</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td">
                                <input type="datetime-local" name="departured_at" style="font-size: 13px;" required>
                                <input type="hidden" name="step" value="fleet_departure">
                                <input type="hidden" name="fleet_number" value="{{ selected_fleet.fleet_number }}">
                                <input type="hidden" name="warehouse" value="{{ warehouse }}">
                                <button type="submit" onclick="confirmSubmit()" class="btn btn-primary" style="font-size: 11px;">确认出库</button>
                            </th>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>



<script>
    function editBOL(button, batch_number) {   //用户要编辑BOL中的表时，弹出表格框
        var popup = document.querySelector('.popup-' + batch_number);
        if (popup.style.display === 'none') {
            popup.style.display = 'block';
        } else {
            popup.style.display = 'none';
        }
        //button.style.backgroundColor = 'gray';   
    };
    
    function addPallet(){
        var table = document.getElementById('exportPallet-add');
        let tableData = [];
        var rows = table.getElementsByTagName('tr');
        for (var i=0; i<rows.length; i++){
            var rowData = [];
            var cells = rows[i].cells;
            for(var j=0; j< cells.length; j++){
                rowData.push(cells[j].innerText);
            }
            tableData.push(rowData);
        }
        var form = document.getElementById('add-pallet');
    };

    function editTable(name, flag, batch_number){   //用户编辑时，将表格的单元格变为编辑状态，用户确认时，变为不可编辑状态，并记录单元格的内容，用于传输给视图
        customerInfo = []
        if (name === 'BOL') {
            var table = document.getElementById('BOL-container-' + batch_number);
            var form = document.getElementById('exportBOL-' + batch_number);
        }else if (name == "fleet") {
            var table = document.getElementById('fleet-container-' + batch_number);
            var form = document.getElementById('exportfleet-' + batch_number);
        }else if (name == "pallet") {
            var table = document.getElementById('exportPallet-add');
            var form = document.getElementById('add-pallet');
        }
        var rows = table.getElementsByTagName('tr');
        for (var i=1; i < rows.length; i++){      
            var cells = rows[i].getElementsByTagName('td');
            var rowData = [];
            for (var j = 0; j < cells.length; j++) {
                if (cells[j].getAttribute('data-editable') === 'true') {
                    if (flag){
                        if (!cells[j].getElementsByTagName('input')[0]){
                            var content = cells[j].innerHTML;
                            var input = document.createElement('input');
                            input.type = 'text';
                            input.value = content;
                            input.size = 15;
                            cells[j].innerHTML = '';
                            cells[j].appendChild(input);
                        }
                    } else {
                        var input = cells[j].getElementsByTagName('input')[0];
                        if (input){
                            var tr = rows[i];
                            if (tr.id && tr.id.indexOf('empty')=== -1) {
                                rowData.push(input.value);
                            }                           
                        }
                    }
                }
            }
            if (rowData.length > 0) {
                customerInfo.push(rowData);
            }
        };
        if (!flag){   
            for (var i=1; i<rows.length; i++){
                var rowData = {};
                var cells = rows[i].getElementsByTagName('td');
                for (var j = 0; j < cells.length; j++) {
                    var cellName = 'cell' + j;
                    rowData[cellName] = cells[j].innerHTML;
                }
            }
            var jsonCustomerInfo = JSON.stringify(customerInfo);
            
            var newInput = document.createElement('input');
            newInput.value = jsonCustomerInfo;
            newInput.name = 'customerInfo';
            newInput.type = 'hidden';
            form.appendChild(newInput)

            var popup = document.querySelector('.popup-' + batch_number);
            popup.style.display = 'none';
        };
        
    };
    function addRowBelow(name,batch_number) {   //添加行的操作
        if (name === 'BOL') {
            var table = document.getElementById('BOL-container-' + batch_number);
            var newRow = document.querySelector('#BOL-row-empty-'+ batch_number).cloneNode(true);
            var newId = 'BOL-row-'+ Date.now();
        }          
        else if (name == "fleet") {
            var table = document.getElementById('fleet-container-' + batch_number);
            var newRow = document.querySelector('#fleet-row-empty-'+ batch_number).cloneNode(true);
            var newId = 'fleet-row-'+ Date.now();
        }
        else if (name == "pallet"){ 
            var table = document.getElementById('add-pallet');
            var newRow = document.querySelector('#add-pallet-row').cloneNode(true);
            var newId = 'add-pallet'+ Date.now();
        }      
        newRow.style.display = '';        
        newRow.id = newId;
        table.appendChild(newRow);
    };
    
</script>
{% endblock %}