{% extends 'pre_port/create_order/01_base_order_creation_and_management.html' %}
{% block order_status %}
<div style="display: flex;">
    <div style="max-height: 100%; width: 28%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%; margin-top: 1%;">
        <div>
            <b style="background-color: rgb(208, 208, 208); border-radius: 20px; font-size: 11px; display:inline-flex; color: rgb(100, 100, 100); padding: 5px;">
                未完成订单 - {{ unfinished_orders|length }}
            </b>
        </div>
        <div style="overflow-y: scroll; max-height: 500px;">
            <table class="table" id="unfinished-order-table" style="font-size: 11px;">
                <thead>
                    <tr style="position: sticky; top: 0;">
                        <th class="th" style="text-align: center;">仓库/地址</th>
                        <th class="th" style="text-align: center;">柜号</th>
                        <th class="th" style="text-align: center;">基础信息</th>
                        <th class="th" style="text-align: center;">航运信息</th>
                        <th class="th" style="text-align: center;">Packing List</th>
                    </tr>
                    <tr style="position: sticky; top: 28px;">
                        <th class="th" style="text-align: center;">
                            <input type="text" id="warehouseSearch" placeholder="搜索仓库/地址..." oninput="filterTable(this, 0, true)" size="13" style="font-size: 11px;">
                        </th>
                        <th class="th">
                            <input type="text" id="ctnSearch" placeholder="搜索柜号..." oninput="filterTable(this, 1, true)" size="13" style="font-size: 11px;">
                        </th>
                        <th class="th"></th>
                        <th class="th"></th>
                        <th class="th"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for o in unfinished_orders %}
                        <tr>
                            <td class="td" style="text-align: center;">
                                {{ o.retrieval_id__retrieval_destination_area }}
                            </td>
                            <td class="td">
                                <a href="/create_order/?step=container_info_supplement&container_number={{ o.container_number__container_number }}">
                                    {{ o.container_number__container_number }}
                                </a>
                            </td>
                            <td class="td" style="text-align: center;">
                                <i class="bi bi-file-check-fill" style="color: rgba(34, 153, 84, 0.873); font-size: 15px"></i>
                            </td>
                            <td class="td" style="text-align: center;">
                                {% if o.vessel_id %}
                                    <i class="bi bi-file-check-fill" style="color: rgba(34, 153, 84, 0.873); font-size: 15px;"></i>
                                {% else %}
                                    <i class="bi bi-heartbreak-fill" style="color: rgb(203, 67, 53); font-size: 15px;"></i>
                                {% endif %}
                            </td>
                            <td class="td" style="text-align: center;">
                                {% if o.packing_list_updloaded or o.order_type == "直送" %}
                                    <i class="bi bi-file-check-fill" style="color: rgba(34, 153, 84, 0.873); font-size: 15px;"></i>
                                {% else %}
                                    <i class="bi bi-heartbreak-fill" style="color: rgb(203, 67, 53); font-size: 15px;"></i>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div style="max-height: 100%; max-width: 72%; width: 72%; border: 2px solid rgb(180, 180, 180); border-radius: 12px; padding: 1%; margin-top: 1%; margin-left: 1%;">
        {% block order_supplement %}
        
        {% endblock %}
    </div>
</div>

<script>
    function filterTable(filterInput, col_idx, trim) {
        var containerInput, containerFilter, table, tbody, tr, containerTd, i, containerTxtValue;
        containerFilter = filterInput.value.toUpperCase();
        var table = filterInput.closest('table');
        tbody = table.getElementsByTagName("tbody")[0];
        tr = tbody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            containerTd = tr[i].getElementsByTagName("td")[col_idx];
            if (containerTd) {
                containerTxtValue = containerTd.textContent || containerTd.innerText;   <!--获取当前单元格的文本内容-->
                containerTxtValue = trim ? containerTxtValue.toUpperCase().trim() : containerTxtValue.toUpperCase()
                var containerDisplayStyle_1 = containerTxtValue.indexOf(containerFilter) > -1 ? "" : "none";
                var containerDisplayStyle_2 = containerFilter.indexOf(containerTxtValue) > -1 ? "" : "none";
                // Set display style based on both container and customer filters
                tr[i].style.display = containerDisplayStyle_1 === "" || containerDisplayStyle_2 === "" ? "" : "none";
            }
        }
    };
</script>
{% endblock %}