{% extends 'base.html' %}
{% block content %}
<h3 class="mb-3">创建新订单</h3>

{% if step == 1 %}
<form method="post">
    {% csrf_token %}
    <div class="container mt-3">
        <h4 class="mb-3">订单信息</h4>
        <div class="form-row" style="border: 2px solid rgb(180, 180, 180); border-radius: 12px; margin-bottom: 5px;">
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">订单类型</label>
                {{ order_type }}
                <style>
                    #{{ order_type.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">客户</label>
                {{ order_form.customer_name }}
                <style>
                    #{{ order_form.customer_name.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">仓库</label>
                {% if order_type == "转运" %}
                    {{ warehouse_form.name }}
                {% else %}
                    N/A
                    <input type="hidden" name="name" value="N/A">
                {% endif %}
                <style>
                    #{{ warehouse_form.name.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">ETA</label>
                {{ order_form.eta }}
                <style>
                    #{{ order_form.eta.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">清关方式</label>
                {{ clearance_select_form.clearance_option }}
                <style>
                    #{{ clearance_select_form.clearance_option.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">提柜方式</label>
                {% if order_type == "转运" %}
                    {{ retrieval_select_form.retrieval_option }}
                {% else %}
                    代理卡车
                    <input type="hidden" name="retrieval_option" value="代理卡车">
                {% endif %}
                <style>
                    #{{ retrieval_select_form.retrieval_option.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
        </div>
    </div>
    <input type="hidden" name="order_type" value="{{ order_type }}">
    <input type="hidden" name="step" value="container_info">
    <div>
        <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">下一步</button>
    </div>
</form>

{% elif step == 2 %}
<form method="post" class="needs-validation" id="orderForm" novalidate>
    {% csrf_token %}
    <div class="container mt-3">
        <h4 class="mb-3">货柜信息</h4>
        <div class="form-row" style="border: 2px solid rgb(180, 180, 180); border-radius: 12px; margin-bottom: 5px;">
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">货柜号(#Ref)</label>
                {{ container_form.container_number }}
                <style>
                    #{{ container_form.container_number.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">柜型</label>
                {{ container_form.container_type }}
                <style>
                    #{{ container_form.container_type.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">船/航空公司</label>
                {{ retrieval_form.shipping_line }}
                <style>
                    #{{ retrieval_form.shipping_line.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">始发港</label>
                {{ retrieval_form.origin_port }}
                <style>
                    #{{ retrieval_form.origin_port.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">到达港</label>
                {{ retrieval_form.destination_port }}
                <style>
                    #{{ retrieval_form.destination_port.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            {% if order_type == "直送" %}
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">目的地</label>
                {{ shipment_form.destination }}
                <style>
                    #{{ shipment_form.destination.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">详细地址</label>
                {{ shipment_form.address }}
                <style>
                    #{{ shipment_form.address.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            {% endif %}
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">提货地点</label>
                {{ retrieval_form.retrieval_location }}
                <style>
                    #{{ retrieval_form.retrieval_location.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">提单号</label>
                {{ retrieval_form.shipping_order_number }}
                <style>
                    #{{ retrieval_form.shipping_order_number.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">Carrier</label>
                {{ shipment_form.carrier }}
                <style>
                    #{{ shipment_form.carrier.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">3rd Pty Addr.</label>
                {{ shipment_form.third_party_address }}
                <style>
                    #{{ shipment_form.third_party_address.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
            <div class="form-group col-md-4">
                <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">预约号(ISA)</label>
                {{ shipment_form.appointment_id }}
                <style>
                    #{{ shipment_form.appointment_id.id_for_label }} {
                        width: 150px;
                        height: 30px;
                        font-size: 15px;
                    }
                </style>
            </div>
        </div>
    </div>
    <input type="hidden" name="order_type" value="{{ order_type }}">
    <input type="hidden" name="step" value="packing_list">
    <input type="hidden" name="order_data" value="{{ order_data }}">
    <div>
    {% if order_type == "直送" %}
        <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">创建订单2</button>
    {% else %}
        <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">下一步</button>
    {% endif %}
    </div>
    
</form>

{% elif step == 3 %}
<form method="post" enctype="multipart/form-data" style="width: 100%;">
    {% csrf_token %}
    导入模版
    {{ upload_file_form.file }}
    <input type="hidden" name="step" value="upload_template">
    <input type="hidden" name="order_data" value="{{ order_data }}">
    <input type="hidden" name="container_data" value="{{ container_data }}">
    <button type="submit" class="btn btn-success" style="width: 100px; height: 35px;">上传清单</button>
    <a href="{% url 'create_order' %}?step=download_template" class="btn btn-success" style="width: 100px; height: 35px;">下载模版</a>
</form>

<form method="post" class="needs-validation" id="orderForm" style="width: 100%; max-width: 100%;" novalidate>
    {% csrf_token %}
    <div class="container mt-3" style="max-width: 100%;">
        <div class="row" style="margin-top: 30px;">
            <div class="col-8">
                <h4 class="mb-3">物品清单</h4>
            </div>
            <div class="col-4 text-right">
                <button type="button" id="add-more-btn" class="btn btn-success" style="width: 100px; height: 35px;">
                    添加行
                </button>
                <button type="button" id="remove-last-btn" class="btn btn-danger" style="width: 100px; height: 35px;">
                    删除行
                </button>
            </div>
        </div>
        {{ packing_list_form.management_form }}
        <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
            <table class="table" style="font-size: 12px;">
                <thead>
                    <tr>
                        <th class="th" style="min-width: 40px; text-align: center;"></th>
                        <th class="th">物品名</th>
                        <th class="th">派送方式</th>
                        <th class="th">唛头</th>
                        <th class="th">FBA号</th>
                        <th class="th">目的地</th>
                        <th class="th">收件人</th>
                        <th class="th">联系方式</th>
                        <th class="th">地址</th>
                        <th class="th">邮编</th>
                        <th class="th">refid</th>
                        <th class="th">箱数</th>
                        <th class="th">总重量-kg</th>
                        <th class="th">总重量-lbs</th>
                        <th class="th">CBM</th>
                        <th class="th">备注</th>
                    </tr>
                </thead>
                <tbody id="formsets-container">
                    <tr id="formset-row" style="display: none;">
                        <td class="td" style="min-width: 40px; text-align: center;">
                            <input type='checkbox' name='is_packing_list_selected'>
                        </td>
                        <td class="td">{{ packing_list_form.empty_form.product_name }}</td>
                        <td class="td">{{ packing_list_form.empty_form.delivery_method }}</td>
                        <td class="td">{{ packing_list_form.empty_form.shipping_mark }}</td>
                        <td class="td">{{ packing_list_form.empty_form.fba_id }}</td>
                        <td class="td">{{ packing_list_form.empty_form.destination }}</td>
                        <td class="td">{{ packing_list_form.empty_form.contact_name }}</td>
                        <td class="td">{{ packing_list_form.empty_form.contact_method }}</td>
                        <td class="td">{{ packing_list_form.empty_form.address }}</td>
                        <td class="td">{{ packing_list_form.empty_form.zipcode }}</td>
                        <td class="td">{{ packing_list_form.empty_form.ref_id }}</td>
                        <td class="td">{{ packing_list_form.empty_form.pcs }}</td>
                        <td class="td">{{ packing_list_form.empty_form.total_weight_kg }}</td>
                        <td class="td">{{ packing_list_form.empty_form.total_weight_lbs }}</td>
                        <td class="td">{{ packing_list_form.empty_form.cbm }}</td>
                        <td class="td">{{ packing_list_form.empty_form.note }}</td>
                    </tr>
                    {% for pl in packing_list_form.forms %}
                        <tr id="formset-row">
                            <td class="td" style="min-width: 40px; text-align: center;">
                                <input type='checkbox' name='is_packing_list_selected'>
                            </td>
                            <td class="td">{{ pl.product_name }}</td>
                            <td class="td">{{ pl.delivery_method }}</td>
                            <td class="td">{{ pl.shipping_mark }}</td>
                            <td class="td">{{ pl.fba_id }}</td>
                            <td class="td">{{ pl.destination }}</td>
                            <td class="td">{{ pl.contact_name }}</td>
                            <td class="td">{{ pl.contact_method }}</td>
                            <td class="td">{{ pl.address }}</td>
                            <td class="td">{{ pl.zipcode }}</td>
                            <td class="td">{{ pl.ref_id }}</td>
                            <td class="td">{{ pl.pcs }}</td>
                            <td class="td">{{ pl.total_weight_kg }}</td>
                            <td class="td">{{ pl.total_weight_lbs }}</td>
                            <td class="td">{{ pl.cbm }}</td>
                            <td class="td">{{ pl.note }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <input type="hidden" name="step" value="place_order">
        <input type="hidden" name="order_data" value="{{ order_data }}">
        <input type="hidden" name="container_data" value="{{ container_data }}">
        <div>
            <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">创建订单3</button>
        </div>
    </div>
</form>
{% endif %}
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js" integrity="sha384-P8HR+EjhI6LKcmPhZGtFuWm4s8o8QI6pL47rytP88SS7VOLvEZkYpB/QCyIgsA" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyL/JWu8f1B8Ehq82vQpsTl2aDmYD5I6S" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const formsetsContainer = document.getElementById('formsets-container');
        const addMoreBtn = document.getElementById('add-more-btn');
        const removeLastBtn = document.getElementById('remove-last-btn');

        addMoreBtn.addEventListener('click', function () {
            const newFormset = document.createElement('tr');
            const formsetCount = formsetsContainer.getElementsByTagName('tr').length - 1;
            newFormset.setAttribute('id', `id_order-${formsetCount}-container_id`)

            // Clone the first formset and update the form indexes
            const firstFormset = formsetsContainer.querySelector('#formset-row');
            const newFormsetHtml = firstFormset.innerHTML.replace(/__prefix__/g, formsetCount);

            newFormset.innerHTML = newFormsetHtml;
            formsetsContainer.appendChild(newFormset);
            for (let i = 0; i < newFormset.getElementsByTagName('input').length; i++) {
                const inputField = newFormset.getElementsByTagName('input')[i]
                inputField.id = inputField.id.replace('-0-', `-${formsetCount}-`)
                inputField.name = inputField.name.replace('-0-', `-${formsetCount}-`)
            }
            for (let i = 0; i < newFormset.getElementsByTagName('select').length; i++) {
                const inputField = newFormset.getElementsByTagName('select')[i]
                inputField.id = inputField.id.replace('-0-', `-${formsetCount}-`)
                inputField.name = inputField.name.replace('-0-', `-${formsetCount}-`)
            }
            // Increment the form count
            document.getElementById('id_form-TOTAL_FORMS').value++;
        });

        removeLastBtn.addEventListener('click', removeSelectedFormset);
        function removeLastFormset() {
            const formsetCount = formsetsContainer.getElementsByTagName('tr').length;
            const formsetRows = formsetsContainer.children;

            if (formsetCount > 1) {
                // Remove the last formset
                // formsetsContainer.removeChild(formsetsContainer.lastChild);
                formsetsContainer.removeChild(formsetRows[formsetCount - 1]);
                // Decrement the form count
                document.getElementById('id_form-TOTAL_FORMS').value--;
            }
        }
        function removeSelectedFormset() {
            var selectedRows = document.querySelectorAll('#formsets-container tr');
            selectedRows.forEach(function(row) {
                var checkbox = row.querySelector('input[type="checkbox"]');
                if (checkbox.checked) {
                    row.remove();
                }
            })
            const formsetCount = formsetsContainer.getElementsByTagName('tr').length - 1;
            for(let i = 0; i < formsetCount; i++) {
                const tableRow = formsetsContainer.getElementsByTagName('tr')[i+1]
                for (let j = 0; j < tableRow.getElementsByTagName('input').length; j++) {
                    const inputField = tableRow.getElementsByTagName('input')[j];
                    var idParts = inputField.id.split('-');
                    var nameParts = inputField.name.split('-');
                    var newId = idParts[0] + '-' + `${i}` + '-' + idParts[2];
                    var newName = nameParts[0] + '-' + `${i}` + '-' + nameParts[2];
                    inputField.setAttribute('id', newId);
                    inputField.setAttribute('name', newName);
                }
                for (let j = 0; j < tableRow.getElementsByTagName('select').length; j++) {
                    const inputField = tableRow.getElementsByTagName('select')[j]
                    var idParts = inputField.id.split('-')
                    var nameParts = inputField.name.split('-')
                    var newId = idParts[0] + '-' + `${i}` + '-' + idParts[2]
                    var newName = nameParts[0] + '-' + `${i}` + '-' + nameParts[2]
                    inputField.setAttribute('id', newId)
                    inputField.setAttribute('name', newName);
                }
            }
            document.getElementById('id_form-TOTAL_FORMS').value = formsetCount
        }
    });
    (function () {
            'use strict';

            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');

                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
</script>
{% endblock %}