{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="container d-flex justify-content-between" style="margin-left: 0; padding-left: 1%; width: 100%; display: inline-block; max-width: 100%;">
    <div style="width: 80%;">
        <a class="navbar-brand" href="{% url 'home' %}">ZEM LOGISTICS INC</a>
        {% if user.is_authenticated %}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">港前操作</a>
                        <div class="dropdown-content">
                            <div class="nested-dropdown" >
                                <a>询价</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'quote_management' %}?step=new" target="_blank">新建</a>
                                    <a href="{% url 'quote_management' %}?step=history" target="_blank">历史询价</a>
                                </div>
                            </div>
                            <a href="{% url 'create_order' %}?step=all" target="_blank">港前订单管理</a>
                            <a href="{% url 'pre_port_tracking' %}?step=all" target="_blank">港前订单追踪</a>
                            <a href="{% url 'terminal_dispatch' %}?step=all" target="_blank">港口调度</a>
                            <a href="{% url 'contaier_pickup_status' %}?step=all" target="_blank">货柜状态追踪</a>
                            <a href="{% url 'contaier_pre_port_summary_dash' %}?step=all" target="_blank">货柜进度汇总</a>
                            <div class="nested-dropdown" >
                                <a>港前(legacy)</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'schedule_pickup' %}">预约提柜</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">仓库操作</a>
                        <div class="dropdown-content">
                            <a href="{% url 'palletization' %}">拆柜入库</a>
                            <a href="{% url 'palletization' %}?step=daily_operation" target="_blank">仓库待处理</a>
                            {% if user.is_authenticated and user.is_staff %}
                            <a href="{% url 'inventory' %}?step=counting" target="_blank">库存盘点</a>
                            {% endif %}
                            <div class="nested-dropdown">
                                <a>异常拆柜</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'palletization' %}?step=abnormal" target="_blank">待处理异常</a>
                                    <a href="{% url 'palletization' %}?step=abnormal_records" target="_blank">异常拆柜记录</a>            
                                </div>
                            </div>
                            <a href="{% url 'schedule_shipment_legacy' %}">预约出库</a>
                            <a href="{% url 'outbound' %}">确认出库</a>
                            <a href="{% url 'shipment_status' %}">货物状态查询</a>
                            <div class="nested-dropdown">
                                <a>仓库操作(legacy)</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'palletization_legacy' %}">拆柜入库</a>                          
                                    <a href="{% url 'schedule_shipment_legacy' %}">预约出库</a>
                                    <a href="{% url 'outbound_legacy' %}">确认出库</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">订单管理</a>
                        <div class="dropdown-content">
                            <a href="{% url 'create_order' %}?step=order_management_list">订单列表</a>
                            <a href="{% url 'po' %}">PO导出</a>
                            <a href="{% url 'po' %}?step=po_check_eta">PO待查验——到港前一周</a>
                            <a href="{% url 'po' %}?step=po_check_retrieval">PO待查验——提柜前一天</a>
                            <a href="{% url 'po' %}?step=po_invalid">PO失效</a>
                            <a href="{% url 'po' %}?step=po_list">PO拿约汇总</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">批次管理</a>
                        <div class="dropdown-content">
                            <a href="{% url 'pod_legacy' %}">确认送达</a>
                            <a href="{% url 'shipment_status' %}">货物状态查询</a>
                            <a href="{% url 'bol' %}">BOL导出</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">客户管理</a>
                        <div class="dropdown-content">
                            <a href="{% url 'customer_management' %}">添加客户</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">财务管理</a>
                        <div class="dropdown-content">
                            <a href="{% url 'accounting' %}?step=pallet_data">托盘数据</a>
                            <a href="{% url 'accounting' %}?step=pl_data">派送清单</a>
                            <div class="nested-dropdown" >
                                <a>账单</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'accounting' %}?step=invoice">货柜账单</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% if user.is_authenticated and user.is_staff %}
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="nav-link">后台管理</a>
                        <div class="dropdown-content">
                            <a href="{% url 'dbconn' %}">SQL Query</a>
                            <a href="{% url 'stuff_user' %}?step=clean_data">清理数据</a>
                            <a href="{% url 'container_tracking' %}">Tracking</a>
                            <div class="nested-dropdown" >
                                <a>Test Async</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'async_view' %}?step=async" target="_blank">async</a>
                                    <a href="{% url 'async_view' %}?step=sync" target="_blank">sync</a>
                                </div>
                            </div>
                            <!-- <div class="nested-dropdown" >
                                <a>港前(Beta)</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'create_order' %}?step=all">港前订单管理</a>
                                    <a href="{% url 'pre_port_tracking' %}?step=all">港前订单追踪</a>
                                    <a href="{% url 'terminal_dispatch' %}?step=all">港口调度</a>
                                    <a href="{% url 'contaier_pickup_status' %}?step=all">货柜状态追踪</a>
                                    <a href="{% url 'contaier_pre_port_summary_dash' %}?step=all">货柜进度汇总</a>
                                </div>
                            </div> -->
                            <div class="nested-dropdown" >
                                <a>港前(legacy)</a>
                                <div class="nested-dropdown-content">
                                    <div class="nested-dropdown" >
                                        <a>创建订单</a>
                                        <div class="nested-dropdown-content">
                                            <a href="{% url 'create_order_legacy' %}?type=DD" target="_blank">直送</a>
                                            <a href="{% url 'create_order_legacy' %}?type=TD" target="_blank">转运</a>
                                        </div>
                                    </div>
                                    <a href="{% url 'schedule_pickup' %}">预约提柜</a>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </li>
                <li>
                    <div class="dropdown">
                        <a class="nav-link">港后操作(Beta)</a>
                        <div class="dropdown-content">
                            <div class="nested-dropdown">
                                <a>预约出库</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'schedule_shipment' %}">预约管理</a>
                                    <a href="{% url 'fleet' %}?step=fleet">出库批次管理</a>
                                </div>
                            </div>
                            <a href="{% url 'outbound' %}?step=outbound">出库管理</a>
                            <a href="{% url 'pod' %}?step=delivery_and_pod">确认送达</a>
                            <div class="nested-dropdown">
                                <a>表格导出</a>
                                <div class="nested-dropdown-content">
                                    <a href="{% url 'po' %}">PO导出</a>
                                    <a href="{% url 'bol' %}">BOL导出</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>

    <div style="width: 20%;" class="text-right">
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a class="nav-link" href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>