{% extends 'base.html' %}

{% block content %}
{% if existing_customers %}
<h4>创建新客户</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-row" >
        <div class="form-group col-md-4">
            <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">客户全称</label>
            {{ customer_form.full_name }}
        </div>
    </div>
    <div class="form-row" >
        <div class="form-group col-md-4">
            <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">客户简称</label>
            {{ customer_form.zem_name }}
        </div>
    </div>
    <div class="text-left">
        <input type="hidden" name="step" value="new">
        <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">确认</button>
        {% if duplicated %}
        <p style="margin-top: 5px; font-style: italic;"">{{ customer_form.full_name.value }} 已存在!</p>
        {% endif %}
    </div>
</form>

<hr class="Dashed" style="margin-top: 20px; margin-bottom: 20px;">
<h4>客户列表</h4>
<div style="overflow-x: auto; max-width: 1200px; overflow-y: auto; max-height: 800px;">
    <table class="table">
        <thead>
            <tr>
                <th class="th">客户简称</th>
                <th class="th">客户全称</th>
            </tr>
        </thead>
        <tbody>
            {% for c in existing_customers %}
            <tr>
                <td class="td"><a href="/customer_management/{{c.zem_name}}/?step=update">{{ c.zem_name }}</a></td>
                <td class="td">{{ c.full_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if customer_update_form %}
<h4>更新客户信息</h4>
<form method="post">
    {% csrf_token %}
    <div class="form-row" >
        <div class="form-group col-md-4">
            <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">客户全称</label>
            {{ customer_update_form.full_name }}
        </div>
    </div>
    <div class="form-row" >
        <div class="form-group col-md-4">
            <label class="col-form-label" style="font-size: 15px; width: 100px; height: 40px;">客户简称</label>
            {{ customer_update_form.zem_name }}
        </div>
    </div>
    <div class="text-left">
        <input type="hidden" name="step" value="update">
        <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">确认</button>
    </div>
</form>
{% endif %}

{% endblock %}