{% extends 'base.html' %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="container mt-3">
            <div style="overflow-x: auto; max-width: 1200px; overflow-y: auto; max-height: 1200px;">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="th">货柜</th>
                            <th class="th">目的仓库</th>
                            <th class="th">箱数</th>
                            <th class="th">CBM</th>
                            <th class="th">打板数</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for pl, pl_form in order_packing_list %}
                        <tr>
                            <td class="td">{{ pl.container_number }}</td>
                            <td class="td">{{ pl.destination }}</td>
                            <td class="td">{{ pl.pcs }}</td>
                            <td class="td">{{ pl.cbm }}</td>
                            <td class="td">{{ pl_form.n_pallet }}</td> 
                            <input type="hidden" name="id" value="{{pl.id}}">
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="text-left">
                <input type="hidden" name="step" value="palletization">
                <button type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">确认</button>
            </div>
        </div>
    </form>
{% endblock %}