{% extends 'base.html' %}

{% block content %}
    <h4 class="mb-4">预约提柜</h4>
    <div class="search-filters">
        <input type="text" id="containerSearchInput" placeholder="搜索柜号..." oninput="filterTable()">
    </div>
    <b>待预约</b>
    <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
        <table class="table">
            <thead>
                <tr>
                    <th class="th">货柜</th>
                    <th class="th">客户</th>
                    <th class="th">ETA</th>
                    <th class="th">目的港</th>
                    <th class="th" style="min-width: 120px;">船/空运公司</th>
                    <th class="th">柜型</th>
                    <th class="th">提柜地址</th>
                    <th class="th">提单号</th>
                    <th class="th">预约提柜时间</th>
                </tr>
            </thead>
            <tbody>
                {% for c in retrieval_not_scheduled %}
                <tr>
                    <td class="td">{{ c.container_number }}</td>
                    <td class="td">{{ c.customer_name }}</td>
                    <td class="td">{{ c.eta }}</td>
                    <td class="td">{{ c.retrieval_id.destination_port }}</td>
                    <td class="td">{{ c.retrieval_id.shipping_line }}</td>
                    <td class="td">{{ c.container_number.container_type }}</td>
                    <td class="td">{{ c.retrieval_id.retrieval_location }}</td>
                    <td class="td">{{ c.retrieval_id.shipping_order_number }}</td>
                    <td class="td">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="order_id" value="{{ c.order_id }}">
                            <input type="hidden" name="step" value="schedule">
                            {{ retrieval_form.target_retrieval_timestamp }}
                            <button type="submit">确认预约</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <hr class="Dashed" style="margin-top: 10px; margin-bottom: 10px;">

    <b>待提柜</b>
    <table class="table" style="width: 100%;">
        <thead>
            <tr>
                <th class="th">货柜</th>
                <th class="th">客户</th>
                <th class="th">ETA</th>
                <th class="th">目的港</th>
                <th class="th" style="min-width: 120px;">船/空运公司</th>
                <th class="th">柜型</th>
                <th class="th">提柜地址</th>
                <th class="th">提单号</th>
                <th class="th">预约提柜时间</th>
                <th class="th">实际提柜时间</th>
            </tr>
        </thead>
        <tbody>
            {% for c in retrieval_scheduled %}
            <tr>
                <td class="td">{{ c.container_number }}</td>
                <td class="td">{{ c.customer_name }}</td>
                <td class="td">{{ c.eta }}</td>
                <td class="td">{{ c.retrieval_id.destination_port }}</td>
                <td class="td">{{ c.retrieval_id.shipping_line }}</td>
                <td class="td">{{ c.container_number.container_type }}</td>
                <td class="td">{{ c.retrieval_id.retrieval_location }}</td>
                <td class="td">{{ c.retrieval_id.shipping_order_number }}</td>
                <td class="td">{{ c.retrieval_id.target_retrieval_timestamp }}</td>
                <td class="td">
                    <form method="post" action="">
                        {% csrf_token %}
                        <input type="hidden" name="order_id" value="{{ c.order_id }}">
                        <input type="hidden" name="step" value="confirmation">
                        {{ retrieval_form.actual_retrieval_timestamp }}
                        <button type="submit">确认提柜</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>

<script>
    function filterTable() {
        var containerInput, containerFilter, tables, tbody, tr, containerTd, i, containerTxtValue;
        containerInput = document.getElementById("containerSearchInput");
        containerFilter = containerInput.value.toUpperCase();
        tables = document.getElementsByClassName("table");
        for (i = 0; i < tables.length; i++) {
            var table = tables[i];
            tbody = table.getElementsByTagName("tbody")[0];
            tr = tbody.getElementsByTagName("tr");
            for (j = 0; j < tr.length; j++) {
                containerTd = tr[j].getElementsByTagName("td")[0]; // Index 1 corresponds to the container_number__container_number column
                if (containerTd) {
                    containerTxtValue = containerTd.textContent || containerTd.innerText;
                    var containerDisplayStyle = containerTxtValue.toUpperCase().indexOf(containerFilter) > -1 ? "" : "none";
                    // Set display style based on both container and destination filters
                    tr[j].style.display = containerDisplayStyle === "" ? "" : "none";
                }
            }
        }
    }
</script>
{% endblock %}