{% extends 'base.html' %}

{% block content %}
<h3 class="mb-3">预约出库</h3>

<h4 class="mb-4">选择仓库</h4>
<form method="post" action="">
    {% csrf_token %}
    <input type="hidden" name="step" value="warehouse">
    {{ warehouse_form.name }}
    <button type="submit">确认</button>
</form>
<hr class="Dashed" style="margin-top: 40px; margin-bottom: 40px;">

{% if packing_list_not_scheduled %}
    <h3 class="mb-4">待预约</h3>
    <table>
        <thead>
            <tr>
                <th style="border: 1px solid #dddddd;">目的仓库</th>
                <th style="border: 1px solid #dddddd;">箱数</th>
                <th style="border: 1px solid #dddddd;">总重lbs</th>
                <th style="border: 1px solid #dddddd;">CBM</th>
                <th style="border: 1px solid #dddddd;">卡板</th>
            </tr>
        </thead>
        <tbody>
            {% for c in packing_list_not_scheduled %}
            <tr>
                <td style="border: 1px solid #dddddd;">
                    <a href="/schedule_shipment/?step=destination&warehouse={{ warehouse_form.name.value }}&destination={{c.destination}}">{{ c.destination }}</a>
                    <!-- <a href="/schedule_shipment/{{ warehouse_form.warehouse.value }}/{{c.destination}}/?type=destination">{{ c.destination }}</a> -->
                </td>
                <td style="border: 1px solid #dddddd;">{{ c.total_pcs }}</td>
                <td style="border: 1px solid #dddddd;">{{ c.total_weight_lbs }}</td>
                <td style="border: 1px solid #dddddd;">{{ c.total_cbm }}</td>
                <td style="border: 1px solid #dddddd;">{{ c.total_n_pallet }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr class="Dashed" style="margin-top: 40px; margin-bottom: 40px;">
{% endif %}

{% if order_packing_list %}
<h4 class="mb-4">预约列表</h4>
<form method="post" class="needs-validation" id="shipmentForm" novalidate>
    {% csrf_token %}
    <table>
        <thead>
            <tr>
                <!-- <th style="border: 1px solid #dddddd;">确认预约</th> -->
                <th style="border: 1px solid #dddddd;">预约派送时间</th>
                <th style="border: 1px solid #dddddd;">承运方</th>
                <th style="border: 1px solid #dddddd;">目的仓库</th>
                <th style="border: 1px solid #dddddd;">客户</th>
                <th style="border: 1px solid #dddddd;">柜号</th>
                <th style="border: 1px solid #dddddd;">派送方式</th>
                <th style="border: 1px solid #dddddd;">唛头</th>
                <th style="border: 1px solid #dddddd;">FBA号</th>
                <th style="border: 1px solid #dddddd;">ref_id</th>
                <th style="border: 1px solid #dddddd;">箱数</th>
                <th style="border: 1px solid #dddddd;">总重-lbs</th>
                <th style="border: 1px solid #dddddd;">CBM</th>
                <th style="border: 1px solid #dddddd;">卡板</th>
            </tr>
        </thead>
        <tbody>
            {% for pl, f in order_packing_list %}
            <tr>
                <!-- <td style="border: 1px solid #dddddd;">{{ f.is_shipment_schduled }}</td> -->
                <td style="border: 1px solid #dddddd;">{{ f.shipment_appointment }}</td>
                <td style="border: 1px solid #dddddd;">{{ f.carrier }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.destination }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.customer_name }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.container_number__container_number }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.delivery_method }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.shipping_mark }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.fba_id }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.ref_id }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.pcs }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.total_weight_lbs }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.cbm }}</td>
                <td style="border: 1px solid #dddddd;">{{ pl.n_pallet }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <input type="hidden" name="step" value="appointment">
    <input type="hidden" name="ids" value="{{ ids }}">
    <div class="text-left">
        <button type="button" onclick="confirmSubmit()" class="btn btn-primary" style="width: 100px; height: 35px;">确认</button>
        <script>
            function confirmSubmit() {
              var confirmation = window.confirm("确认预约?");
              if (confirmation) {
                document.getElementById("shipmentForm").submit();
              }
            }
        </script>
    </div>
</form>

{% endif %}

{% endblock %}