{% extends 'base.html' %}
{% load static %}
{% load static custom_tags %}
{% load static custom_filters %}

{% block content %}
<h4 class="mb-4">预约出库</h4>

<form method="post" action="">
    {% csrf_token %}
    <div>
        <b style="margin-right: 5px;">选择仓库:</b>
        <input type="hidden" name="step" value="warehouse">
        {{ warehouse_form.name }}
        <button type="submit">确认</button>
    </div>
</form>
<hr class="Dashed" style="margin-top: 10px; margin-bottom: 10px;">

{% if packing_list_not_scheduled %}
<form method="post" action="">
    {% csrf_token %}
    <h4 class="mb-4">待预约</h4>
    <div class="search-filters">
        <input type="text" id="containerSearchInput" placeholder="搜索柜号..." oninput="filterTable()">
        <input type="text" id="destinationSearchInput" placeholder="搜索目的仓库..." oninput="filterTable()">
    </div>
    <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
        <table id="packing-list-table" class="table">
            <thead>
                <tr>
                    <th class="th" style="min-width: 40px; text-align: center;"></th>
                    <th class="th">客户</th>
                    <th class="th">货柜号</th>
                    <th class="th">目的仓库</th>
                    <th class="th">箱数</th>
                    <th class="th">总重lbs</th>
                    <th class="th">CBM</th>
                    <th class="th">卡板数</th>
                    <th class="th">派送方式</th>
                    <th class="th">入仓时间</th>
                </tr>
            </thead>
            <tbody>
                {% for c in packing_list_not_scheduled %}
                <tr>
                    <td class="td" style="min-width: 40px; text-align: center;">
                        <input type='checkbox' name='is_shipment_schduled'>
                        <input type="hidden" name="is_shipment_schduled", value='off'>
                        <input type="hidden" name="pl_ids", value='{{ c.ids }}'>
                    </td>
                    <td class="td">{{ c.container_number__order__customer_name__zem_name }}</td>
                    <td class="td">{{ c.container_number__container_number }}</td>
                    <td class="td">{{ c.destination }}</td>
                    <td class="td">{{ c.pcs }}</td>
                    <td class="td">{{ c.weight_lbs|floatformat:2 }}</td>
                    <td class="td">{{ c.cbm|floatformat:2 }}</td>
                    <td class="td">{{ c.n_pallet }}</td>
                    <td class="td">
                        {% with first_value=c.custom_delivery_method|split_and_get_first %}
                            {{ first_value }}
                        {% endwith %}
                    </td>
                    <td class="td">{{ c.container_number__order__offload_id__offload_at }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="step" value="selection">
    <input type="hidden" name="warehouse" value="{{ warehouse }}">
    <button type="submit" onclick="confirmSubmit()" class="btn btn-primary" style="width: 100px; height: 35px;">确认预约</button>
</form> 
<hr class="Dashed" style="margin-top: 40px; margin-bottom: 40px;">
{% endif %}

{% if shipment_list %}
    <h4 class="mb-4">已预约批次</h4>
    <div class="search-filters">
        <input type="text" id="shipmentSearchInput" placeholder="搜索批次号..." oninput="filterShipmentTable()">
    </div>
    <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 600px;">
        <table id="shipment-table" class="table">
            <thead>
                <tr>
                    <th class="th">批次号</th>
                    <th class="th">目的地</th>
                    <th class="th">预约号</th>
                    <th class="th">Scheduled Time</th>
                    <th class="th">Carrier</th>
                    <th class="th">装车类型</th>
                    <th class="th">总箱数</th>
                    <th class="th">总重lbs</th>
                    <th class="th">总CBM</th>
                    <th class="th">总卡板数</th>
                    <th class="th">备注</th>
                    <th class="th">撤销预约</th>
                </tr>
            </thead>
            <tbody>
                {% for s in shipment_list %}
                <tr>
                    <td class="td">{{ s.shipment_batch_number }}</td>
                    <td class="td">{{ s.destination }}</td>
                    <td class="td">{{ s.appointment_id }}</td>
                    <td class="td">{{ s.shipment_appointment|date:"Y-m-d" }} {{ s.shipment_appointment|time:"H:i" }}</td>
                    <td class="td">{{ s.carrier }}</td>
                    <td class="td">{{ s.load_type }}</td>
                    <td class="td">{{ s.total_pcs }}</td>
                    <td class="td">{{ s.total_weight|floatformat:2 }}</td>
                    <td class="td">{{ s.total_cbm|floatformat:2 }}</td>
                    <td class="td">{{ s.total_pallet }}</td>
                    <td class="td">{{ s.note }}</td>
                    <td class="td">
                        <form method="post" action="">
                            {% csrf_token %}
                            <input type="hidden" name="step" value="cancel">
                            <input type="hidden" name="shipment_batch_number" value="{{ s.shipment_batch_number }}">
                            <input type="hidden" name="warehouse" value="{{ warehouse }}">
                            <button type="submit" class="btn btn-danger">撤销</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}

{% if shipment_form %}
<form method="post" action="">
    {% csrf_token %}
    <h4 class="mb-4">待确认预约</h4>
    <table id="shipment-table" class="table">
        <thead>
            <tr>
                <th class="th">预约号</th>
                <th class="th">Carrier</th>
                <th class="th">3rd Party 地址</th>
                <th class="th">装车类型</th>
                <th class="th">Scheduled Time</th>
                <th class="th">备注</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td">{{ shipment_form.appointment_id }}</td>
                <td class="td">{{ shipment_form.carrier }}</td>
                <td class="td">{{ shipment_form.third_party_address }}</td>
                <td class="td">{{ shipment_form.load_type }}</td>
                <td class="td">{{ shipment_form.shipment_appointment }}</td>
                <td class="td">{{ shipment_form.note }}</td>
            </tr>
        </tbody>
    </table>
    
    <table id="shipment-table" class="table">
        <thead>
            <tr>
                <th class="th">batch_number</th>
                <th class="th">总箱数</th>
                <th class="th">总重lbs</th>
                <th class="th">总CBM</th>
                <th class="th">总卡板数</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="td">{{ shipment.shipment_batch_number }}</td>
                <td class="td">{{ shipment.total_pcs }}</td>
                <td class="td">{{ shipment.total_weight|floatformat:2 }}</td>
                <td class="td">{{ shipment.total_cbm|floatformat:2}}</td>
                <td class="td">{{ shipment.total_pallet }}</td>
            </tr>
        </tbody>
    </table>

    <div style="overflow-x: auto; max-width: 100%; overflow-y: auto; max-height: 1200px;">
        <table id="packing-list-table" class="table">
            <thead>
                <tr>
                    <th class="th">客户</th>
                    <th class="th">货柜号</th>
                    <th class="th">目的仓库</th>
                    <th class="th">FBA_ID</th>
                    <th class="th">REF_ID</th>
                    <th class="th">箱数</th>
                    <th class="th">重量lbs</th>
                    <th class="th">CBM</th>
                    <th class="th">卡板数<br><small><small><i>以<b>总卡板数</b>为准</i></small></small></th>
                </tr>
            </thead>
            <tbody>
                {% for c in packling_list %}
                <tr>
                    <td class="td">{{ c.container_number__order__customer_name__zem_name }}</td>
                    <td class="td">{{ c.container_number__container_number }}</td>
                    <td class="td">{{ c.destination }}</td>
                    <td class="td">{{ c.fba_id }}</td>
                    <td class="td">{{ c.ref_id }}</td>
                    <td class="td">{{ c.total_pcs }}</td>
                    <td class="td">{{ c.total_weight_lbs|floatformat:2 }}</td>
                    <td class="td">{{ c.total_cbm|floatformat:2 }}</td>
                    <td class="td">{{ c.total_n_pallet }}</td>
                </tr>          
                {% endfor %}
            </tbody>
        </table>
    </div>
    <input type="hidden" name="step" value="appointment">
    <input type="hidden" name="shipment_data" value="{{ shipment_data }}">
    <input type="hidden" name="pl_ids" value="{{ pl_ids }}">
    <button id="submit-btn" type="submit" class="btn btn-primary" style="width: 100px; height: 35px;">确认预约</button>
</form>
{% endif %}


<script>
    function filterTable() {
        var containerInput, destinationInput, containerFilter, destinationFilter, table, tbody, tr, containerTd, destinationTd, i, containerTxtValue, destinationTxtValue;
        containerInput = document.getElementById("containerSearchInput");
        destinationInput = document.getElementById("destinationSearchInput");
        containerFilter = containerInput.value.toUpperCase();
        destinationFilter = destinationInput.value.toUpperCase();
        table = document.getElementById("packing-list-table");
        tbody = table.getElementsByTagName("tbody")[0];
        tr = tbody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            containerTd = tr[i].getElementsByTagName("td")[2]; // Index 1 corresponds to the container_number__container_number column
            destinationTd = tr[i].getElementsByTagName("td")[3]; // Index 2 corresponds to the destination column
            if (containerTd && destinationTd) {
                containerTxtValue = containerTd.textContent || containerTd.innerText;
                destinationTxtValue = destinationTd.textContent || destinationTd.innerText;
                var containerDisplayStyle = containerTxtValue.toUpperCase().indexOf(containerFilter) > -1 ? "" : "none";
                var destinationDisplayStyle = destinationTxtValue.toUpperCase().indexOf(destinationFilter) > -1 ? "" : "none";

                // Set display style based on both container and destination filters
                tr[i].style.display = containerDisplayStyle === "" && destinationDisplayStyle === "" ? "" : "none";
            }
        }
    }

    function filterShipmentTable() {
        var shipmentInput, shipmentFilter, table, tbody, tr, shipmentTd, i, shipmentTxtValue;
        shipmentInput = document.getElementById("shipmentSearchInput");
        shipmentFilter = shipmentInput.value.toUpperCase();
        table = document.getElementById("shipment-table");
        tbody = table.getElementsByTagName("tbody")[0];
        tr = tbody.getElementsByTagName("tr");

        for (i = 0; i < tr.length; i++) {
            shipmentTd = tr[i].getElementsByTagName("td")[0]; // Index 1 corresponds to the shipment_number__shipment_number column
            if (shipmentTd) {
                shipmentTxtValue = shipmentTd.textContent || shipmentTd.innerText;
                var shipmentDisplayStyle = shipmentTxtValue.toUpperCase().indexOf(shipmentFilter) > -1 ? "" : "none";

                // Set display style based on both shipment and destination filters
                tr[i].style.display = shipmentDisplayStyle === "" ? "" : "none";
            }
        }
    }

    function confirmSubmit() {
        const checkBoxes = document.getElementsByName('is_shipment_schduled');
        for (let i = 0; i < checkBoxes.length; i+=2) {
            if (checkBoxes[i].checked) {
                checkBoxes[i+1].disabled = true;
            }
        }
    }
</script>

<!-- <script>
    document.addEventListener('DOMContentLoaded', function () {
        const submitBtn = document.getElementById('submit-btn');

        submitBtn.addEventListener('click', function () {
            const checkBoxes = document.getElementsByName('is_shipment_schduled');
            for (let i = 0; i < checkBoxes.length; i+=2) {
                if (checkBoxes[i].checked) {
                    checkBoxes[i+1].disabled = true;
                }
            }
        });
    });
</script> -->

{% endblock %}