{% extends 'base.html' %}

{% block content %}
<div>
    <form method="post" action="">
        {% csrf_token %}
        <b>Clean Data</b>
        <button type="submit" class="btn btn-danger" style="width: 100px; height: 35px; margin-left: 20px;">清理数据</button>
    </form>
    {% if success %}
    <b>Successful!</b>
    {% endif %}
</div>

<div style="margin-top: 30px;">
    <form method="post" action="">
        {% csrf_token %}
        <p>2024-04-10: 添加packing list - total_weight_kg field</p>
        <input type="hidden" name="step" value="update_pl_weight_kg">
        <button type="submit" class="btn btn-danger" style="height: 35px; margin-left: 20px;">更新</button>
    </form>
    {% if pl_update_success %}
    <b>Successful!</b>
    {% endif %}
    {% if invalid_cases %}
    <table>
        <thead>
            <tr>
                <th class="th">container_number</th>
                <th class="th">destination</th>
                <th class="th">delivery_method</th>
                <th class="th">shipping_mark</th>
                <th class="th">fba_id</th>
                <th class="th">ref_id</th>
            </tr>
        </thead>
        <tbody>
            {% for p in invalid_cases %}
            <tr>
                <td class="td">{{ p.container_number.container_number }}</td>
                <td class="td">{{ p.destination }}</td>
                <td class="td">{{ p.delivery_method }}</td>
                <td class="td">{{ p.shipping_mark }}</td>
                <td class="td">{{ p.fba_id }}</td>
                <td class="td">{{ p.ref_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    {% endif %}
</div>

<div>
    <form method="post" action="">
        {% csrf_token %}
        <b>Update Delivery Method</b>
        <input type="hidden" name="step" value="update_delivery_method">
        <button type="submit" class="btn btn-danger" style="height: 35px; margin-left: 20px;">更新派送方式</button>
    </form>
    {% if delivery_update_success %}
    <b>Successfully update {{ count }} packing list!</b>
    {% endif %}
</div>

<div>
    <form method="post" enctype="multipart/form-data" style="font-size: 11px;">
        {% csrf_token %}
        Refactor Pre Port Logic: Migrate Data
        {{ pre_port_t49_tracking.file }}
        <input type="hidden" name="step" value="pre_port_update_vessel_pl_data">
        <button type="submit" class="btn btn-danger" style="height: 35px; font-size: 12px; margin: 5px;">
            <i class="bi bi-cloud-arrow-up-fill"></i> 上传
        </button>
    </form>
    
    {% if vessel_pl_data_update_success %}
    <b>Successfully update {{ orders_count }} orders!</b>
    {% else %}
    <b>0 order updated!</b>
    {% endif %}
</div>

<div>
    <form method="post" enctype="multipart/form-data" style="font-size: 11px;">
        {% csrf_token %}
        Update order pl upload status
        <input type="hidden" name="step" value="update_pl_status">
        <button type="submit" class="btn btn-danger" style="height: 35px; font-size: 12px; margin: 5px;">
            更新
        </button>
    </form>
    {% if order_packing_list_updloaded_updated %}
    <b>Successfully update {{ count }} orders!</b>
    {% endif %}
</div>

<div>
    <form method="post" enctype="multipart/form-data" style="font-size: 11px;">
        {% csrf_token %}
        Update warehouse
        <input type="hidden" name="step" value="update_warehouse">
        <button type="submit" class="btn btn-danger" style="height: 35px; font-size: 12px; margin: 5px;">
            更新
        </button>
    </form>
    {% if warehouse_updated %}
    <b>Successfully update {{ count }} orders!</b>
    {% endif %}
</div>

{% endblock %}